{% extends "core/detail_base.html" %}
{% load static %}
{% load humanize %}

{% block addmore %}
<a href="{% url 'taiping_rebellion-create' %}" class="btn btn-outline-success mx-3 my-4 float-end"> &#128934; &nbsp; Add Another Fact &nbsp; <i class="fa fa-plus"></i>
</a>
<a href="{% url 'wagess' %}" class="btn btn-outline-primary ms-auto my-4 float-end">&#8983; See All Such Facts
</a>
{% endblock addmore %}

{% block myheadings %}
<th style="text-align: center;" scope="col">Taiping Rebellion</th>
<th style="text-align: center;" scope="col">Rebel</th>
<th style="text-align: center;" scope="col">Place</th>
<th style="text-align: center;" scope="col">Ethnic Composition</th>
<th style="text-align: center;" scope="col">Family Background</th>
<th style="text-align: center;" scope="col">Role</th>
<th style="text-align: center;" scope="col">Rank</th>
<th style="text-align: center;" scope="col">Civil Examination</th>
{% endblock myheadings %}

{% block extracols %}
<td style="text-align: center;">{{ object.taiping_rebellion }}</td>
<td style="text-align: center;">{{ object.rebel }}</td>
<td style="text-align: center;">{{ object.place }}</td>
<td style="text-align: center;">{{ object.ethnic_composition }}</td>
<td style="text-align: center;">{{ object.family_background }}</td>
<td style="text-align: center;">{{ object.role }}</td>
<td style="text-align: center;">{{ object.rank }}</td>
<td style="text-align: center;">{{ object.civil_examination }}</td>
{% endblock extracols %}
        