{% extends "core/detail_base_general.html" %}
{% load static %}
{% load humanize %}

{% block addmore %}
<a href="{% url 'polity_peak_years-create' %}" class="btn btn-outline-success mx-3 my-4 float-end"> &#128934; &nbsp; Add Another Fact &nbsp; <i class="fa fa-plus"></i>
</a>
<a href="{% url 'polity_peak_yearss' %}" class="btn btn-outline-primary ms-auto my-4 float-end">&#8983; See All Such Facts
</a>
{% endblock addmore %}

{% block myheadings %}
<th class = "fw-bold" style="text-align: center;" scope="col"><span>
    <a href="{% url 'polity_peak_yearss_all' %}?orderby=peak_year_from&orderby2=tag"><i class="fa-solid fa-caret-down"></i></a>
</span>Peak Year from
</th>
<th class = "fw-bold" style="text-align: center;" scope="col"><span>
    <a href="{% url 'polity_peak_yearss_all' %}?orderby=peak_year_to&orderby2=tag"><i class="fa-solid fa-caret-down"></i></a>
</span>Peak Year to
</th>
{% endblock myheadings %}

{% block extracols %}

<td class = "{% if object.tag == 'DSP' %}
text-danger
{% elif object.tag == 'SSP' %}
text-warning
{% elif object.tag == 'UNK' %}
text-secondary
{% elif object.tag == 'IFR' %}
text-primary
{% else %}
text-success
{% endif %} fw-normal" style="text-align: center;">
<h6>{{ object.peak_year_from }}</h6>
<p> <small>{% if object.tag == "DSP" %}
    <span class="badge rounded-pill bg-danger">{{ object.get_tag_display }}</span>
    {% elif  object.tag == "SSP" %}
     <span class="badge rounded-pill bg-warning text-dark">{{ object.get_tag_display }}</span>
    {% elif  object.tag == "UNK" %}
    <span class="badge rounded-pill bg-secondary">{{ object.get_tag_display }}</span>
    {% elif  object.tag == "IFR" %}
    <span class="badge rounded-pill bg-primary">{{ object.get_tag_display }}</span>
    {% else  %}
    <span class="badge rounded-pill bg-success">{{ object.get_tag_display }}</span>
    {% endif %}</small></p>
</td>

<td class = "{% if object.tag == 'DSP' %}
text-danger
{% elif object.tag == 'SSP' %}
text-warning
{% elif object.tag == 'UNK' %}
text-secondary
{% elif object.tag == 'IFR' %}
text-primary
{% else %}
text-success
{% endif %} fw-normal" style="text-align: center;">
<h6>{{ object.peak_year_to }}</h6>
<p> <small>{% if object.tag == "DSP" %}
    <span class="badge rounded-pill bg-danger">{{ object.get_tag_display }}</span>
    {% elif  object.tag == "SSP" %}
     <span class="badge rounded-pill bg-warning text-dark">{{ object.get_tag_display }}</span>
    {% elif  object.tag == "UNK" %}
    <span class="badge rounded-pill bg-secondary">{{ object.get_tag_display }}</span>
    {% elif  object.tag == "IFR" %}
    <span class="badge rounded-pill bg-primary">{{ object.get_tag_display }}</span>
    {% else  %}
    <span class="badge rounded-pill bg-success">{{ object.get_tag_display }}</span>
    {% endif %}</small></p>
</td>
{% endblock extracols %}
        