{% extends "core/form_base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block extra_vars %}
    <div class="col-md-4 mb-2">
        {{ form.religious_tradition|as_crispy_field }}
    </div>
{% endblock extra_vars %}

{% block extra_vars2 %}

{% endblock extra_vars2 %}

{% block delete_button %}
    <a href="{% url 'polityreligioustradition-delete' object.id %}" type="cancel" class="btn btn-outline-danger my-auto btn-block btn-lg">Delete </a>
{% endblock delete_button %}
        