{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <h3>Confirm Deletion</h3>
        <h5>Are you sure you want to delete: "{{ obj }}"?</h5>
        <form action="{% url delete_object obj.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Confirm and Delete">
        </form>
    </div>
    <h6 class="py-3 text-danger">
        * This process is irreversible.
    </h6>
</div>
{% endblock content %}
