{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="my-4">Well done. </h1>
    </div>
    <div class="col-md-6"> 
        {% block addmore %}
        {% endblock addmore %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">
        <i class="fas fa-check"></i> You successfully suggested to add the following information to Seshat Database:
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-12 mb-4">
      <h6><span class="text-secondary">Section</span>: <mark>{{object.section}}</mark> &nbsp; / &nbsp; <span class="text-secondary">Subsection</span>: <mark>{{object.subsection}} </mark></h6>
    </div>  
  </div>
  <table class="table align-middle table-striped">
    <thead>        
      <tr>
        <!-- headings for the newly added row come here -->
        <th class="text-secondary" scope="col">#</th>
        <th style="text-align: center;" scope="col">Polity</th>
        <th style="text-align: center;" scope="col">Year (From)</th>
        <th style="text-align: center;" scope="col">Year (To)</th>
        <!-- extra headings -->
        {% block myheadings %}
        {% endblock myheadings %}
        <th scope="col" style="text-align: center">References</th>
        <th scope="col" style="text-align: center">Certainty</th>
        <th scope="col" style="text-align: center">Verified</th>

      </tr>
    </thead>
    <tbody>
          <tr>
            <div>
              <th class="text-secondary" scope="row">1</th>
              <td style="text-align: center;">{{ object.polity.name }}</td>
              <td style="text-align: center;">{{ object.year_from }}</td>
              <td style="text-align: center;">{{ object.year_to }}</td>
              <!-- columns for extra vars come here -->
              {% block extracols %}
              {% endblock extracols %}

              <td> {% autoescape off %}{{ object.display_citations }}{% endautoescape %}</td>
              
              <!-- Tag tag (Disputed/Suspected etc.) -->
              {% if object.tag == "DSP" %}
                  <td style="text-align: center;"><span class="badge rounded-pill bg-danger">{{object.get_tag_display }}</span></td>
              {% elif object.tag == "SSP" %}
                  <td style="text-align: center;"> <span class="badge rounded-pill bg-warning text-dark">{{object.get_tag_display }}</span></td>
              {% elif object.tag == "UNK" %}
                  <td style="text-align: center;"><span class="badge rounded-pill bg-secondary">{{object.get_tag_display }}</span></td>
              {% elif object.tag == "IFR" %}
                  <td style="text-align: center;"><span class="badge rounded-pill bg-primary">{{object.get_tag_display }}</span></td>
              {% else  %}
                  <td style="text-align: center;"><span class="badge rounded-pill bg-success">{{object.get_tag_display }}</span></td>
              {% endif %}
          
              {% if object.finalized %}
                  <td class="tetx-success" style="text-align: center;"><i class="fas fa-check"></i></td>
              {% else %}
                  <td class="text-danger" style="text-align: center;"><i class="fas fa-times-circle"></i></td>
              {% endif %}

        </div>
        </tr>
    </tbody>
  </table>

  <h1 class="display-6 mt-5 mb-3">Fact Under Review:</h1>

  <div class="alert alert-warning" role="alert">
    <i class="fas fa-user-check"></i> A Seshat Expert will confirm it soon. Please wait.
  </div>

</div>
  {% endblock %}