{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>



<style>
    /* Style the dropdown */
    .select2-container .select2-selection--single {
      height: 38px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 6px;
    }

    .select2-container .select2-results__option:hover {
        background-color: #782823;
        color: beige;
      }


      .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #782823;
        color: beige;
      }
  
    /* Style the dropdown arrow */
    .select2-container .select2-selection__arrow {
      height: 36px;
      margin-top: 4px; /* Adjust the margin-top as needed */
    }

    .form-check-inline {
        display: flex;
        flex-direction: row;
        align-items: center; /* Center vertically */
        margin-right: 10px; /* Add some spacing between radio buttons */
    }
    .form-check-label {
        display: flex;
        align-items: center;
        margin-right: 15px; /* Add spacing between radio buttons */
    }
    
    .form-check-label input[type="radio"] {
        margin-right: 5px; /* Add spacing between radio circle and label */
    }

    /* Hide the up and down arrows */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"] {
        -webkit-appearance: none;
        margin: 0;
    }
    
</style>
<!-- form-row and form-group etc are removed in Bootstrap 5 -->
<div class="container mt-3">
    <form action="" method="post">
        {% csrf_token %}
        <legend>

            <div class="row d-flex align-items-center">
                <div class="col-md-12">
                    <h6><span class="text-secondary">Section:</span>  {{var_section}} / 
                        {% if var_subsection %}
                        {{var_subsection}}
                        {% else %}
                            &nbsp;- 
                        {% endif %}
                    </h6>
                    <h6 class="lead-2 text-success pt-1">Enter data for:</h6>
                    <h6><span class="display-6">{{ myvar }}</span></h6>
                    <h6 class="lead-2 text-secondary">{{my_exp}}</h6>
                </div>
            </div> 
     
            <hr>
        </legend>
        {% if messages %}
        <ul class="messages mt-3">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                    <i class="fa-solid fa-circle-info"></i> Thank you <b>{{ user }}</b>. {{ message }}
                </div>
            </div>
            {% endfor %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="container-fluid p-0">
              <div class="text-danger" role="alert" >
                <i class="fa-solid fa-triangle-exclamation"></i>  {{ error }}
              </div>
            </div>
            {% endfor %}
            <hr> 
            {% endif %}
        </ul>
        <hr>
        {% endif %}
        <div class="row">
          <div class="col-md-4 mb-2">
            {{ form.polity|as_crispy_field }}
          </div>
          <div class="col-md-2 mb-2">
            {{ form.year_from|as_crispy_field }}
          </div>
          <div class="col-md-2 mb-2">
            {{ form.year_to|as_crispy_field }}
          </div>
                  <!-- Here come the extra vars -->
          {% block extra_vars %}
          {% endblock extra_vars %}
        </div>
        <div class="row pt-2">
            <div class="col-md-2 mb-1">
                {{ form.is_disputed|as_crispy_field }}
            </div>
            <div class="col-md-2 mb-1">
                {{ form.is_uncertain|as_crispy_field }}
            </div>
            <div class="col-md-2 mb-1">
                {{ form.expert_reviewed|as_crispy_field }}
            </div>
            <div class="col-md-6 mb-1 pe-0">
                <fieldset>
                    <div class="form-check form-check-inline  justify-content-end">
                        {% for radio in form.tag %}
                            <label class="ps-1 pe-0 h6 form-check-label" for="{{ radio.id_for_label }}">
                                {{ radio.tag }}
                                <span class="badge rounded-pill px-3 py-1 border border-dark
                                    {% if radio.choice_label == 'Evidenced' %}
                                        bg-success
                                    {% elif radio.choice_label == 'Inferred' %}
                                        bg-primary 
                                    {% elif radio.choice_label == 'Suspected' %}
                                        bg-warning text-dark 
                                    {% endif %}
                                ">  
                                    {{ radio.choice_label }}
                                </span>
                            </label>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12 py-1 ps-2">
                    {{ form.description|as_crispy_field }}
            </div>

        </div>
        <div class="row">
            {% if request.user.is_staff %}
            <div class="col-md-4 py-3 ps-4">
                <div class="mb-2">
                    <i class="fas fa-user-check"></i> You are a Seshat Expert; you can enter a fact.
                </div> 
                <div  class="mb-2" style="display: none;">
                    {{ form.finalized|as_crispy_field }}
                </div>               
            </div>
            {% else %}
            <div class="col-md-4 py-3 ps-4">
                <input type="checkbox" id="seshatexpert" name="vehicle2" value="Car" onclick="return false">
                <label for="seshatexpert"> You are not a Seshat Expert.</label>
            </div>
            {% endif %}
            <div class="col-md-4 mb-2 py-2 d-grid mx-auto">
                {% block delete_button %}
                {% endblock delete_button %}
            </div>
            <div class="col-md-4 mb-2 py-2 d-grid mx-auto">
                <button type="submit" class="btn btn-outline-success my-auto btn-block btn-lg">Submit for Review*</button>
            </div>

        </div>

        <!-- {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="text-danger"><h3> {{ error }} </h3></div>
            {% endfor %}
        {% endfor %}
        {% endif %} -->
          </form>

        <div class="col-md-12">
            <hr>
            <h6>* Your entered data will soon be checked by a Seshat Expert.</h6>
        </div>

        {% block delete_option %}
        {% endblock delete_option %}

</div>

<script>
    $(document).ready(function() {
        // Initialize Select2 with an empty dataset
        $('.js-example-basic-single').select2();
    });    
</script>
{% endblock %}