{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}


{% block content %}
<div class="container">
    {% if object_list %}
    <div class="row d-flex align-items-center mt-3">
        <div class="col-md-5 border-start border-5 border-success">
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
            <h6><span class="display-6">{{myvar}}</span></h6>
        </div>
        <div class="col-md-3">
                <h6><span class="text-secondary align-middle">Section</span>: <mark>{{var_section}}</mark></h6>
                <h6><span class="text-secondary align-middle">Subsection</span>: <mark>{{var_subsection}} </mark> </h6>      
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
          </div>
          <div class="col-md-4">      
            <!-- Download and Create Buttons -->
        {% block download_button %}
        {% endblock download_button %}
        </div>
      </div>
    <div>
        <h5 class="fw-bold">Main Description: <span class="fw-normal">{{var_main_desc}} &nbsp;</span>
            {% if var_main_desc_source %}
            <a href="{{var_main_desc_source}}">(See here)</a>
            {% endif %}
        </h5>
    </div>
    {% block main_description %}
    {% endblock main_description %}
    {% block secondary_description %}
    {% endblock secondary_description %}
    <hr>
    {% if inner_vars %}
    <div class="row">
        <div class="col-md-8">
            <h5 class="py-2 my-2 fw-bold">Metadata:</h5>
        </div>
        <div class="col-md-4">
            {% block metadownload_button %}
            {% endblock metadownload_button %}
        </div>
    </div>
    

    <div class="table-responsive">
    <table class="table align-middle table-primary">
        <thead>
            <tr>
                <th scope="col" class="text-secondary">Polity</th>
                <th scope="col" class="text-secondary">Year(s)</th> 
                {% for ktop, vtop in inner_vars.items %}
                {% for k, v in vtop.items %}
                    {% if v %}
                    <th scope="col" class="text-secondary">{{k}}</th>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-secondary" scope="row">The Seshat Polity ID</td>
                <td class="text-secondary" scope="row">The years for which we have the data.
                </td>
                {% for ktop, vtop in inner_vars.items %}
                    {% for k, v in vtop.items %}
                        {% if v %}
                        <td scope="col" class="text-secondary">{{v}}</td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>

        </tbody>
    </table>
    </div>
    {% endif %}
    <h5 class="fw-bold">Actual Data:</h5>
    <div class="table-responsive">
        <table id="table_id" class="table align-middle table-striped table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-secondary">#</th>
                <th scope="col" style="text-align: center" class="fw-light"> Polity</th>
                <!-- headings for extra vars -->
                {% block myheadings_list %}
                {% endblock myheadings_list %}
                <th scope="col" style="text-align: center" class="fw-light"> Year(s)</th>
                <th scope="col" style="text-align: center" class="fw-light">XYZ
                    <sup>
                        <span type="button" data-bs-toggle="popover" data-bs-html="true" data-bs-content="certainty defines whether the input data is Trusted, Disputed, suspected, etc.">&nbsp;<i class="far fa-question-circle" style="color:dimgrey"></i></span>
                    </sup>
                </th>
                <th scope="col" style="text-align: center" class="fw-light">Verified</th>
                <th scope="col" style="text-align: center" class="fw-light">Update?</th>
              </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                    <tr>
                    <div>
                    <td class="text-secondary" scope="row">{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td style="text-align: center;"><a href="{% url 'polity-detail' obj.polity.id %}">{{ obj.polity.name }}</a></td>
                    <!-- extra vars come here -->
                    {% block extra_vars_list %}
                    {% endblock extra_vars_list %}
                    {% block years %}
                    {% if obj.year_from == obj.year_to %}
                        <td style="text-align: center;">{{ obj.year_from }} </td>
                    {% elif obj.year_to == None %}
                        <td style="text-align: center;">{{ obj.year_from }} </td>
                    {% elif obj.year_to == None and obj.year_from == None %}
                        <td style="text-align: center;"> <i class="fa-solid fa-minus"></i> </td>
                    {% else %}
                        <td style="text-align: center;">{{ obj.year_from }} <i class="fas fa-long-arrow-alt-right"></i> {{ obj.year_to }} </td>
                    {% endif %}
                    {% endblock years %}
                    <!-- Tag tag (Disputed/Suspected etc.) -->
                    {% if obj.tag == "DSP" %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-danger">{{ obj.get_tag_display }}</span>
                    {% elif  obj.tag == "SSP" %}
                        <td style="text-align: center;"> <span class="badge rounded-pill bg-warning text-dark">{{ obj.get_tag_display }}</span>
                    {% elif  obj.tag == "UNK" %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-secondary">{{ obj.get_tag_display }}</span>
                    {% elif  obj.tag == "IFR" %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-primary">{{ obj.get_tag_display }}</span>
                    {% else  %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-success">{{ obj.get_tag_display }}</span>
                    {% endif %}
                    {% if obj.display_citations %}
                    <sup>
                        <span type="button" data-bs-toggle="popover" title="Refs:" data-bs-html="true" data-bs-content=" {{ obj.display_citations }}">&nbsp;<i class="far fa-bookmark text-info"></i></span>
                    </sup>
                    {% endif %}
                    </td>

                    <!-- Verified Tag -->
                    {% if obj.finalized %}
                        <td class="text-success" style="text-align: center;"><i class="fas fa-check-circle"></i></td>
                    {% else %}
                        <td class="text-danger" style="text-align: center;"><i class="fas fa-times"></i></td>
                    {% endif %}

                    <!-- Update Button -->
                    {% block update_button %}
                    {% endblock update_button %}

                </div>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
          <div class="pagination my-4 pe-4 float-end">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><button class="btn btn-primary btn-md"> <i class="fas fa-step-backward"></i> Prev </button></a>
                {% else %}
                <button class="btn btn-outline-primary btn-md" disabled> <i class="fas fa-step-backward"></i>  Prev</button>
                {% endif %}
                <span class="page-current">
                    &nbsp; Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. &nbsp; 
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><button class="btn btn-primary btn-md"> Next <i class="fas fa-step-forward"></i></button></a>
                    {% else %}
                    <button class="btn btn-outline-primary btn-md" disabled> Next <i class="fas fa-step-forward"></i></button>
                {% endif %}
            </span>
            </div>
            
          {% endif %}
    {% else %}
    <div class="row">
        <div class="col-md-12 mt-4">
            <h3> <i class="fa-solid fa-triangle-exclamation"></i> There are no Facts for this variable in the Database.</h3>
        </div>
    </div>
    {% endif %}
    </div>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
  {% endblock %}