{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block content %}
<div class="container">
    {% if object_list %}
    <div class="row d-flex mt-3">
        <div class="col-md-6">
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
            <div class="col-md-12 justify-content-end my-3">
                <h6><span class="text-secondary text-end">Section</span>: <mark>{{var_section}}</mark></h6>
                <h6><span class="text-secondary text-end">Subsection</span>: <mark>
                    {% if var_subsection %}
                    {{var_subsection}}
                    {% else %}
                        &nbsp;- 
                    {% endif %}
                </mark> </h6>      
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
          </div>
          <div>
            <h1 class="mb-3"><span class="display-6">{{myvar}}</span></h1>
          </div>
            <div>
                <h6 class="fw-bold"><span class="fw-normal"><i class="fa-solid fa-caret-right"></i> {{var_main_desc}} &nbsp;</span>
                </h6>
            </div>
            <div class="contributors mt-4">
                <h6><span class="text-secondary text-end">
                    <i class="fa-solid fa-people-group"></i> Contributors</span>: Seshat RAs and Experts
                </h6>   
            </div>
        </div>
          <div class="col-md-6">
            {% if inner_vars %}
            <div class="row">
                <div class="col-md-6">
                    <h5 class="py-2 my-2 fw-bold">Metadata:</h5>
                </div>
                <div class="col-md-6">
                    {% block metadownload_button %}
                    {% endblock metadownload_button %}
                </div>
            </div>
            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item" style="background-color:#fffdf2;">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="background-color:#fffdf2;">
                      <span class="text-success"><i class="fa-solid fa-chevron-right"></i>  &nbsp; General Metadata</span> 
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                    <div class="accordion-body table-responsive p-0">
                            <table class="table align-middle table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-md-2">Variable</th>
                                        <th scope="col" class="col-md-10">Definition</th> 
                                        <!-- <th scope="col" class="col-md-2">Scale</th>
                                        <th scope="col" class="col-md-2">Units</th>  -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row" class="col-md-2 text-secondary">Polity</td>
                                        <td scope="row" class="col-md-10 text-secondary">The Seshat Polity Name</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="col-md-2 text-secondary">Year(s)</td>
                                        <td scope="row" class="col-md-10 text-secondary">The years for which we have the data. [negative = BCE]</td>
                                    </tr>
                                    <tr>
                                        <td scope="row"  class="col-md-2 text-secondary">Confidence</td>
                                        <td scope="row"  class="col-md-10 text-secondary"><span class="badge rounded-pill bg-primary">Inferred</span> : The value is inferred.<br> 
                                            <span class="badge rounded-pill bg-warning text-dark">Suspected</span> : The value is suspected (Expert Check Needed).<br> 
                                            <span class="badge rounded-pill bg-success">Evidenced</span> : The value is backed up by sufficient evidence.</td>
                                    </tr>
                                    <tr>
                                        <td scope="row"  class="col-md-2 text-secondary">Disputed?</td>
                                        <td scope="row"  class="col-md-10 text-secondary">
                                            <b class="text-success">No</b> : No disagreement among scholars.<br> <b class="text-danger">Yes</b> : There is disagreement among scholars.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row"  class="col-md-2 text-secondary">Expert?</td>
                                        <td scope="row"  class="col-md-10 text-secondary"><i class="fa-solid fa-xmark text-danger"></i> : Not yet Checked by a Seshat Expert. <br> <i class="fa-solid fa-check text-success"></i> : Checked and accepted by a Seshat Expert (or RA).</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                  </div>
                </div>
                <div class="accordion-item" style="background-color:#fffdf2;">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button px-0 collapsed" type="button" data-bs-toggle="collapse"  data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="background-color:#fffdf2;">
                    <span class="text-success"><i class="fa-solid fa-chevron-right"></i> &nbsp; Metadata Specific to <strong>{{myvar}}</strong></span> 
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body table-responsive px-0 pt-0">
                        <table class="table align-middle table-striped table-bordered">
                            <thead>   
                                <tr>
                                    <th scope="col">Variable</th>
                                    <th scope="col">Definition</th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for ktop, vtop in inner_vars.items %}
                                <tr>
                                    <td class="fw-bold">{{ktop}}</td>
                                    {% if vtop.var_exp %}
                                        <td scope="col">{{vtop.var_exp}}</td> 
                                        {% elif "Definition" in potential_cols %}
                                        <td scope="col"></td> 
                                    {% endif %}
                                    {% if vtop.scale %}
                                        <td scope="col">{{vtop.scale}}</td>
                                        {% elif "Scale" in potential_cols %}
                                        <td scope="col"></td> 
                                    {% endif %}
                                    {% if vtop.units %}
                                        <td scope="col">{{vtop.units}}</td> 
                                        {% elif "Units" in potential_cols %}
                                        <td scope="col"></td> 
                                    {% endif %}
                                    {% if vtop.min %}
                                        <td scope="col">{{vtop.min}}</td> 
                                        {% elif "Min" in potential_cols %}
                                        <td scope="col"></td> 
                                    {% endif %}
                                    {% if vtop.max %}
                                        <td scope="col">{{vtop.max}}</td> 
                                    {% elif "Max" in potential_cols %}
                                    <td scope="col"></td> 
                                    {% endif %}
                                <tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
          </div>
      </div>
    {% block main_description %}
    {% endblock main_description %}
    {% block secondary_description %}
    {% endblock secondary_description %}
    <hr>
    <div class="row d-flex align-items-center mb-3">
        <div class="col-md-3">
            <h5 class="fw-bold">Actual Data:</h5>
        </div>
        <div class="col-md-9">      
        <!-- Download and Create Buttons -->
    {% block download_button %}
    {% endblock download_button %}
    </div>
    </div>
    <div class="table-responsive">
        <table id="table_id" class="table align-middle table-hover table-striped table-bordered" style="padding: 0.25 rem !important;">
            <thead>
              <tr>
                <th scope="col" class="text-secondary"  style="text-align: center">#</th>
                <th scope="col" style="text-align: left" class="fw-bold"> 
                    Polity </th>
                <th scope="col" style="text-align: left" class="fw-bold">
                    {% block years_sorting_from_asc %}
                    {% endblock years_sorting_from_asc %}
                     &nbsp; Year(s) &nbsp; 
                     {% block years_sorting_from_des %}
                     {% endblock years_sorting_from_des %}
                </th>
                <!-- headings for extra vars -->
                {% block myheadings_list %}
                {% endblock myheadings_list %}
                {% include "core/partials/_confidence_disputed_expert.html" %}

                <th scope="col" style="text-align: center" class="fw-light">Edit</th>

              </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                    <tr>
                    <div>
                    <td class="text-secondary" scope="row"  style="text-align: center">{{ forloop.counter }}</td>
                    {% if obj.polity %}
                    <td style="text-align: left;">
                        {% if obj.polity.long_name %}
                        <span class="fw-bold h5">
                            <a href="{% url 'polity-detail-main' obj.polity.id %}">{{ obj.polity.long_name }}</a>
                        </span>
                        {% else %}
                        <span class="fw-bold h5">
                            <a href="{% url 'polity-detail-main' obj.polity.id %}">{{ obj.polity.name }}</a>
                        </span>
                        {% endif %}

                    </td>
                    {% else %}
                    <td style="text-align: center;">-</td>
                    {% endif%}
                    <!-- Years -->
                    {% include "core/partials/_years_block_new_obj.html" %}

                    <!-- extra vars come here -->
                    {% block extra_vars_list %}
                    {% endblock extra_vars_list %}
                    <td style="text-align: center;">
                        {% if obj.tag == "DSP" %}
                                <span class="badge rounded-pill bg-danger">{{ obj.get_tag_display }}</span>
                        {% elif  obj.tag == "SSP" %}
                                <span class="badge rounded-pill bg-warning text-dark">{{ obj.get_tag_display }}</span>
                        {% elif  obj.tag == "UNK" %}
                                <span class="badge rounded-pill bg-secondary">{{ obj.get_tag_display }}</span>
                        {% elif  obj.tag == "IFR" %}
                                <span class="badge rounded-pill bg-primary">{{ obj.get_tag_display }}</span>
                        {% else  %}
                                <span class="badge rounded-pill bg-success">{{ obj.get_tag_display }}</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if obj.is_disputed %}
                        <b class="text-danger">Yes</b>
                        {% else  %}
                        <b class="text-success">No</b>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if obj.expert_reviewed %}
                        <i class="fa-solid fa-check text-success"></i>
                        {% else  %}
                        <i class="fa-solid fa-xmark text-danger"></i>
                        {% endif %}
                    </td>

                    <!-- Tag tag (Disputed/Suspected etc.) -->
                    {% if obj.display_citations %}
                    <sup>
                        <span type="button"  tabindex="0" data-bs-toggle="popover" title="Refs:" data-bs-html="true" data-bs-trigger="focus" data-bs-content="{{ obj.display_citations }}">&nbsp;<i class="fa-solid fa-bookmark"></i></span>
                    </sup>
                    {% endif %}
                    </td>

                    {% block update_button %}
                    {% endblock update_button %}
                </div>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>

    {% else %}
    <div class="row my-4">
        <div class="col-md-8 ">
            <h4> <i class="fa-solid fa-triangle-exclamation text-danger"></i> There are no Facts for this variable ({{myvar}}) in the Database.</h4>
        </div>
        <div class="col-md-4">
            <a href="{% url create_url %}" class="btn btn-outline-success mx-3 float-end"><i class="fas fa-plus"></i> &nbsp; Add a Fact</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-2 pb-4">
            <h6><span class="display-6">{{ myvar }}</span></h6>
            <h6 class="text-secondary">{{var_main_desc}}</h6>
        </div>
    </div>

    {% endif %}
    </div>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
  {% endblock %}