{% extends "core/seshat-base.html" %}

<!-- NavBar -->
{% block content-home %}
<!-- showcase for index -->
<style>
    .notification {
        background-color: pink;
        color: #333;
        padding: 10px;
        text-align: center;
    }
    .notification a {
        color: teal;
        text-decoration: none;
    }
</style>
<!-- showcase for index -->
<script>
    // Get the referrer URL
    var referrer = document.referrer;

    // Check if the referrer matches the old website URL
    if (referrer.includes("seshatdatabank.info")) {
        // Display the notification
        var notification = document.createElement("div");
        notification.className = "notification";
        notification.innerHTML = '<h4>    <strong><i class="fa-solid text-danger fa-circle-exclamation"></i> Important Notice <i class="fa-solid text-danger fa-circle-exclamation"></i></strong> <br>The old website (seshatdatabank.info) will be permanently discontinued in January 2024.<br>Please update your bookmarks and visit us at our new location: <a href="http://seshat-db.com">seshat-db.com</a>. </h4>';
        document.body.appendChild(notification);
    }
</script>

{% include "core/partials/_old_seshat_methods.html" %}

{% endblock %}
