{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-4 py-2 ps-4 border-start border-4 border-success">
    <h4 class="text-success"> <i class="fas fa-check-circle"></i> You successfully signed up for a Seshat account.</h4>
    {% if user.is_authenticated %}
    <h5 class="px-3 py-3"> <i class="fas fa-check-circle text-success"></i> You are already logged into your account.</h5>
    {% else %}
    <h5 class="px-3 py-3"> <i class="fas fa-arrow-alt-circle-right text-success"></i> To log into your account: <a href="{% url 'login' %}" class="pe-2"><strong> Click here </strong></a></h5>
    {% endif%}
</div>

{% endblock %}