{% extends "core/seshat-base.html" %}
<!-- Another comment -->
{% load crispy_forms_tags %}

<!-- A comment -->
{% block content %}
<!-- Rainbow hr -->
{% include "core/partials/_rainbow.html" %}
<!-- A comment -->
<div class="container py-3">
    <div class="row">
        <h2>Add variable hierarchy</h2>
    </div>
    <hr class="bg-fading">
    <div class="row">
        <h4>Please select the variable and its corresponding sections and subsection to be added to 
            the variable hierarchy.</h4>
            <ul class="list-unstyled mt-3">
                <li class="h5 mb-3"><i class="fas fa-arrow-alt-circle-right"></i> &nbsp; The <span class="badge bg-pink"> SECTION </span>  you are looking for is not in the list? &nbsp; <span class="h4 display"><a class="btn btn-teal rounded-pill" href="https://majidbenam.com/admin/core/section/add/"><i class="fas fa-plus"></i>  &nbsp; Add a new Section</a></span class="h4 display"></li>
                <li class="h5 mb-2"><i class="fas fa-arrow-alt-circle-right"></i> &nbsp; The <span class="badge bg-pink"> SUBECTION </span>  you are looking for is not in the list?  &nbsp; <span class="h4 display"><a class="btn btn-teal rounded-pill" href="https://majidbenam.com/admin/core/subsection/add/"><i class="fas fa-plus"></i>  &nbsp; Add a new Subsection</a></span class="h4 display"></li>
            </ul>
    </div>
    <hr class="bg-colorful">
  <form method="post">
    {% csrf_token %}
    <div class="row mt-3 d-flex align-items-center">
        <div class="col-md-3">
            <label for="var_name_independent">Select a Variable:</label>
            <select class="form-control form-select mb-3" name="variable_name" id="var_name_independent">
                {% for var in variable_list %}
                <option value="{{ var.0 }}">{{var.1}}</option>
                {% endfor %}
            </select>
        </div>
      <div class="col-md-3 category_div" id="category_div">
        {{ form.section_name|as_crispy_field }}
      </div>
      <div class="col-md-3 sub_category_div" id="sub_category_div">
        {{ form.subsection_name|as_crispy_field }}
      </div>
      <div
        class="col-md-2 form-check form-switch d-flex justify-content-center"
      >
        {{ form.is_verified|as_crispy_field }}
      </div>
      <div class="col-md-1">
        <button class="btn btn-teal" type="submit"> Submit </button>
      </div>
    </div>
  </form>
  <div>
    <!-- A comment -->
    {% if messages %}
    <hr />
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="text-{{ message.tags }} h5" {% endif %} style="list-style-type: none">
        {% if message.tags == "success" %} <i class="fas fa-check-circle"></i>  {% endif %} &nbsp; {{ message }}
    </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <hr />

</div>
<!-- DropDown Stuff -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript" type="text/javascript">
  function dynamicdropdown(selectedsection) {
  document.getElementById("subsection").length = 0;
  var select = document.getElementById("subsection");
  {% autoescape off %}
  var JSSelectoptions =  {{ sectionOptions }};
  {% endautoescape %}
  for (const [key, value] of Object.entries(JSSelectoptions)) {
      if (selectedsection == key){
          select.options[0]=new Option(" -- Please select Subsection -- ","");
          for (var i = 0; i < value.length; i++) {
              console.log([key, value]);
              console.log(value[i]);
              select.options[select.options.length] = new Option(
                  value[i],
                  value[i]
              );
              }
      }
      }

  return true;
  }
</script>
{% endblock %}
