{% extends "core/seshat-base.html" %} {% load crispy_forms_tags %}
<!-- New block -->
{% block content %}
<div class="container py-3">
  <h2>Add variable hierarchy</h2>
  <hr />
  <div class="row">
    <div class="col-md-1 d-flex justify-content-end">
      <h5>#</h5>
    </div>
    <div class="col-md-4">
      <h5><i class="fas fa-angle-down"></i>&nbsp; Variable:</h5>
    </div>
    <div class="col-md-3">
      <h5><i class="fas fa-angle-down"></i>&nbsp; Section:</h5>
    </div>
    <div class="col-md-3">
      <h5><i class="fas fa-angle-down"></i>&nbsp; Subsection:</h5>
    </div>
    <div class="col-md-1">
      <h5>tick</h5>
    </div>
  </div>
  <form method="POST">
    {{ formset.management_form }} {% csrf_token %}
    <!-- block -->
    {% for form in formset %}
    <!-- Inner for -->
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    <div class="row mt-2">
      <div class="col-md-1 d-flex justify-content-end pt-2">
        <h5>
          {% if form.is_verified %}
          <i class="fas fa-check-circle text-success"></i>
          {% else %}
          <i class="fas fa-times-circle text-danger"></i>
          {% endif %} &nbsp; {{ forloop.counter }}:
        </h5>
      </div>
      <div class="col-md-4">{{ form.name|as_crispy_field }}</div>
      <div class="col-md-3">{{ form.section|as_crispy_field }}</div>
      <div class="col-md-3">{{ form.subsection|as_crispy_field }}</div>
      <div class="col-md-1 pt-2 form-check form-switch">
        {{ form.is_verified|as_crispy_field }}
      </div>
    </div>
    {% endfor %}
    <input type="submit" value="Submit" />
  </form>
</div>

{% endblock %}
