{% extends "core/form_base_for_new_approach.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block extra_vars %}
    <!-- Render the input variable specified in the context -->
    <div class="col-md-3 mb-2">
        {{ extra_var|as_crispy_field }}
    </div>
{% endblock extra_vars %}

{% block delete_button %}
    <!-- Render the delete button for the specified object ID -->
    <a href="{% url delete_url object.id %}" type="cancel" class="btn btn-outline-danger my-auto btn-block btn-lg">Delete</a>
{% endblock delete_button %}
