{% extends "core/list_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block download_button %}
    <a href="{% url 'diding_taxes-create' %}" class="btn btn-outline-success mx-3 my-4 float-end"><i class="fas fa-plus"></i> &nbsp; Add More Facts</a>
    <a href="{% url 'diding_taxes-download' %}" class="btn btn-outline-primary ms-auto my-4 float-end"><i class="fas fa-download"></i> &nbsp; Download All</a>
{% endblock download_button %}


{% block main_description %}
<div class="row fw-bold">
    <p>
        Land taxes are collected as a means to improve the quality of life for people. Land taxes are collected as a means to imrove the quality of life for people. Land taxes are collected as a means to imrove the quality of life for people. Land taxes are collected as a means to imrove the quality of life for people.
    </p>
</div>
{% endblock main_description %}
{% block secondary_description %}
<div class="row">
    <span class="text-secondary"> <i class="fa-brands fa-wikipedia-w text-secondary"></i>: &nbsp; <b>Tael</b>, also known as the tahil and by other names, can refer to any one of several weight measures used in East Asia and Southeast Asia. It usually refers to the Chinese tael, a part of the Chinese system of weights and currency. The Chinese tael was standardized to 50 grams in 1959. <a href="https://en.wikipedia.org/wiki/Tael">(Wikipedia)</a></span>
</div>
{% endblock secondary_description %}


{% block myheadings_list %}
<th style="text-align: center;" scope="col">Total Revenue
    <sup>
        <span type="button" data-bs-toggle="popover" data-bs-html="true" data-bs-content="Here We go.">&nbsp;<i class="fas fa-info text-info"></i></span>
    </sup>
   </th>
{% endblock myheadings_list %}

{% block extra_vars_list %}

<td style="text-align: center;">{{ obj.total_revenue|intcomma }}
    <sup>
        <span type="button" data-bs-toggle="popover" title="Refs:" data-bs-html="true" data-bs-content=" {{ obj.display_citations }}">&nbsp;<i class="far fa-bookmark text-info"></i></span>
    </sup>
</td>
{% endblock extra_vars_list %}

<!-- Update Button -->
{% block update_button %}
    <td style="text-align: center;"><a href="{% url 'diding_taxes-update' obj.id %}"><button class="btn btn-outline-primary btn-sm">Update</button></a></td>
{% endblock update_button %}
        