<th class = "fw-bold text-secondary" style="text-align: center; white-space: nowrap;" scope="col"> &nbsp; Confidence
    <sup>
        <span type="button"  tabindex="0" data-bs-toggle="popover" title="Confidence Level" data-bs-html="true" data-bs-trigger="focus" data-bs-content='<span class="badge rounded-pill bg-primary">Inferred</span> : The value is inferred.<br> 
        <span class="badge rounded-pill bg-warning text-dark">Suspected</span> : The value is suspected (Expert Check Needed).<br> 
        <span class="badge rounded-pill bg-success">Evidenced</span> : The value is backed up by sufficient evidence.'>&nbsp;<i class="fa-regular fa-circle-question"></i></span>
    </sup>
</th>
<th class = "fw-bold text-secondary" style="text-align: center; white-space: nowrap;" scope="col"> &nbsp; Disputed?
    <sup>
        <span type="button"  tabindex="0" data-bs-toggle="popover" title="Disputed?" data-bs-html="true" data-bs-trigger="focus" data-bs-content='<b class="text-success">No</b>: No disagreement among scholars. <br> <b class="text-danger">Yes</b> : There is disagreement among scholars.'>&nbsp;<i class="fa-regular fa-circle-question"></i></span>
    </sup>
</th>
<th class = "fw-bold text-secondary" style="text-align: center; white-space: nowrap;" scope="col"> &nbsp; Expert?
    <sup>
        <span type="button"  tabindex="0" data-bs-toggle="popover" title="Expert? (Expert Checked)" data-bs-html="true" data-bs-trigger="focus" data-bs-content='<i class="fa-solid fa-xmark text-danger"></i> : Not yet Checked by a Seshat Expert. <br> <i class="fa-solid fa-check text-success"></i> : Checked and accepted by a Seshat Expert (or RA).'>&nbsp;<i class="fa-regular fa-circle-question"></i></span>
    </sup>
</th>