    <footer id="main-footer" class="py-2 dijamm text-center navbar-brown text-light">
        <span>
            Copyright ©
            <span class="year">2023</span>, <b>Seshat: Global History Databank</b>.
        </span>
        <div class="text-center fw-bold">
            Stay in touch with us: &nbsp;
            <a href = "https://twitter.com/seshatdatabank" style="color:#fff;"> <i class="fab fa-twitter"> </i></a>
            <a href = "https://www.facebook.com/seshatdatabank/" style="color:#fff;"> <i class="fab fa-facebook"> </i></a>
        </div>
    </footer>
    