<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'seshat-index' %}"> <i class="fas fa-landmark"></i> &nbsp; Seshat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'seshat-index' %}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Classic Seshat</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CrisisDB
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'qing_vars' %}">Qing Crisis</a></li>
                <li><a class="dropdown-item" href="#">100 Cases</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-success" href="{% url 'playground' %}">CrisisDB Playground</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-secondary" href="#">Tests:</a></li>
                <li><a class="dropdown-item text-secondary" href="{% url 'wages-create' %}">Wages Create (test)</a></li>
                <li><a class="dropdown-item text-secondary" href="{% url 'wagess' %}">Wages List (test)</a></li>

            </ul>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled">Visualizations</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'admin:index' %}" class="nav-link">ADMIN</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'api-root' %}" class="nav-link">API</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search something" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
</nav>