{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark navbar-brown  navbar-hide-on-scroll sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                    
                    <a class="nav-link active" aria-current="page" href="{% url 'seshat-index' %}"> <img src="https://seshatdatabank.web.ox.ac.uk/sites/default/files/styles/site_logo/public/styles/site_logo/public/seshatdatabank/site-logo/seshat-sml-logo-white.png?itok=K-tPc8EE" alt="Logo" style="width:30px"> &nbsp; Home</a>
                
            
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Classic Seshat
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'polities' %}">Polities</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'capitals' %}">Capitals</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'generalvars' %}" class="nav-link">General Variables</a>
                    </li>
  	                <li>
                        <a class="dropdown-item" href="{% url 'scvars' %}" class="nav-link">Social Complexity Variables</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'wfvars' %}" class="nav-link">Warfare Variables (MilTech)</a>
                    </li>
                </ul>
                </li>


            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CrisisDB
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="{% url 'crisis_consequences_all' %}" class="nav-link">Crisis Consequences <span class="badge rounded-pill bg-warning text-dark">NEW</span></a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'power_transitions_all' %}" class="nav-link">Power Transitions <span class="badge rounded-pill bg-warning text-dark">NEW</span></a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'qing_vars' %}" class="nav-link">Qing Crisis</a>
                </li>
                <li>
                    <a class="dropdown-item text-secondary" href="{% url 'qing_vars' %}" class="nav-link">American Violence Data (Soon)</a>
                </li>

            </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Others
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                            <a class="dropdown-item" href="{% url 'api-root' %}" class="nav-link">API</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'references' %}" class="nav-link">References</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'ngas' %}" class="nav-link">NGAs</a>
                        </li>
                 </ul>
            </li>
                <li>
                    {% if user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="{% url 'user-profile' %}">Profile</a>
                {% endif %}

                </li>
                <li>
                    <a class="nav-link active" href="{% url 'human_sacrifices_all' %}" aria-current="page">Human Sacrifice</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link active" aria-current="page" href="{% url 'discussion_room' %}">Discussion</a>
                </li>
                {% endif %}
                
                <li>
                    <a class="nav-link active" aria-current="page" href="{% url 'seshat-olddownloads' %}">Downloads</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownNLP" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        NLP
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownNLP">
                        <li>
                            <a class="dropdown-item" href="{% url 'nlp-references' %}" class="nav-link">NLP References</a>
                        </li>
                        
                        <li>
                            <a class="dropdown-item" href="{% url 'nlp_datapoints' %}" class="nav-link">Discussion Room</a>
                        </li>
                     </ul>
                </li>

        </ul>

        </div>
    </div>
</nav>