<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-hide-on-scroll">
    <div class="container">
        <a class="navbar-brand" href="{% url 'seshat-index' %}"> <i class="fas fa-landmark"></i> &nbsp; Seshat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'seshat-index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Classic Seshat
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'polities' %}">Polities</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'capitals' %}">Capitals</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'generalvars' %}" class="nav-link">General Variables</a>
                    </li>
  	<li>
                        <a class="dropdown-item" href="{% url 'scvars' %}" class="nav-link">Social Complexity Variables</a>
                    </li>
                </ul>
                </li>


            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CrisisDB
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'qing_vars' %}">Qing Crisis</a></li>
                <li><a class="dropdown-item" href="#">100 Cases</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-success" href="{% url 'playground' %}"> <strong>CrisisDB Playground</strong> </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-secondary" href="#">Tests:</a></li>

            </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Others
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'api-root' %}" class="nav-link">API</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'references' %}" class="nav-link">References</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'human_sacrifices_all' %}" class="nav-link">Human Sacrifice</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'ngas' %}" class="nav-link">NGAs</a>
                    </li>
                </ul>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="{% url 'user-profile' %}">Profile</a>
                {% endif %}

                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="{% url 'discussion_room' %}">Discussion</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="{% url 'nlp_datapoints' %}">NLP</a>
                </li>


        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search something" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
</nav>