{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}

<div class="table-responsive">

    <table id="table_id" class="table align-middle table-borderless table-hover mb-3" style="padding: 0.25 rem !important;">
        <tbody>
                <tr class="pt-4">
                <td class="col-sm-12 mb-3 align-text-top  ps-4" style="text-align: center;">
                    {% with value|get_columns_with_value_dic:"P" as columns_dic %}
                        {% if columns_dic %}
                        <div class="row gx-1">
                            <div class="col-sm-2 border border-success text-light bg-success d-flex align-items-center py-1" style="border-width: 2px !important;  border-radius: 10px;">
                                <h6 class="m-auto">PRESENT</h6>
                            </div>
                            <div class="col-sm-10 py-1" style="text-align: left;">
                                {% for column, value in columns_dic.items %}
                                <span type="button"  tabindex="0" data-bs-toggle="popover" title="{{ column|replace_underscore_and_capitalize }}" data-bs-html="true" data-bs-trigger="focus" data-bs-content='{{ value }}'>
                                    <span class="fs-6 my-1 fw-normal  fw-normal badge rounded-pill bg-success">{{ column|replace_underscore_and_capitalize }}</span>
                                </span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    {% endwith %}
                
                    {% with value|get_columns_with_value_dic:"IP" as columns_dic %}
                        {% if columns_dic %}
                        <div class="row gx-1">
                            <div class="col-sm-2  border border-info bg-info text-dark d-flex align-items-center py-1" style="border-width: 2px !important; border-radius: 10px;">
                                <h6 class="m-auto">INFERRED PRESENT
                                </h6>
                            </div>
                            <div class="col-sm-10 py-1"  style="text-align: left;">
                                {% for column, value in columns_dic.items %}
                                <span type="button"  tabindex="0" data-bs-toggle="popover" title="{{ column|replace_underscore_and_capitalize }}" data-bs-html="true" data-bs-trigger="focus" data-bs-content='{{ value }}'>
                                    <span class="fs-6 my-1 fw-normal  badge rounded-pill bg-info text-dark">{{ column|replace_underscore_and_capitalize }}</span>
                                </span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    {% endwith %}
                
                    {% with value|get_columns_with_value_dic:"IA" as columns_dic %}
                    {% if columns_dic %}
                    <div class="row gx-1">
                        <div class="col-sm-2 border border-secondary bg-secondary text-light d-flex align-items-center py-1"  style="border-width: 2px !important; border-radius: 10px;">
                            <h6 class="m-auto">INFERRED ABSENT</h6>
                        </div>
                        <div class="col-sm-10 py-1"  style="text-align: left;">
                            {% for column, value in columns_dic.items %}
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="{{ column|replace_underscore_and_capitalize }}" data-bs-html="true" data-bs-trigger="focus" data-bs-content='{{ value }}'>
                                <span class="fs-6 my-1 fw-normal  badge rounded-pill bg-secondary text-light">{{ column|replace_underscore_and_capitalize }}</span>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                
                    {% with value|get_columns_with_value_dic:"A" as columns_dic %}
                    {% if columns_dic %}
                    <div class="row gx-1">
                        <div class="col-sm-2 border text-light d-flex align-items-center py-1"  style="border-width: 2px !important; text-align: left; background-color:#495057;  border-color:#495057 !important;  border-radius: 10px;">
                            <h6 class="m-auto">ABSENT</h6>
                        </div>
                        <div class="col-sm-10 py-1"  style="text-align: left; border-color:#495057 !important;">
                            {% for column, value in columns_dic.items %}
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="{{ column|replace_underscore_and_capitalize }}" data-bs-html="true" data-bs-trigger="focus" data-bs-content='{{ value }}'>
                                <span class="fs-6 my-1 fw-normal  badge rounded-pill" style="background-color:#495057;">{{ column|replace_underscore_and_capitalize }}</span>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                
                    {% with value|get_columns_with_value_dic:"SU" as columns_dic %}
                    {% if columns_dic %}
                    <div class="row gx-1">
                        <div class="col-sm-2 border border-warning bg-warning  d-flex align-items-center py-1"  style="border-width: 2px !important; border-radius: 10px;">
                            <h6 class="m-auto">SUSPECTED UNKNOWN</h6>
                        </div>
                        <div class="col-sm-10 py-1"  style="text-align: left;">
                            {% for column, value in columns_dic.items %}
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="{{ column|replace_underscore_and_capitalize }}" data-bs-html="true" data-bs-trigger="focus" data-bs-content='{{ value }}'>
                                <span class="fs-6 my-1 fw-normal  badge rounded-pill bg-warning text-dark">{{ column|replace_underscore_and_capitalize }}</span>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                
                    {% with value|get_columns_with_value_dic:"U" as columns_dic %}
                    {% if columns_dic %}
                    <div class="row gx-1">
                        <div class="col-sm-2 border border-danger bg-danger d-flex align-items-center py-1"  style="border-width: 2px !important; border-radius: 10px;">
                            <h6 class="m-auto">UNKNOWN</h6>
                        </div>
                        <div class="col-sm-10 py-1"  style="text-align: left;">
                            {% for column, value in columns_dic.items %}
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="{{ column|replace_underscore_and_capitalize }}" data-bs-html="true" data-bs-trigger="focus" data-bs-content='{{ value }}'>
                                <span class="fs-6 my-1 fw-normal  badge rounded-pill bg-danger">{{ column|replace_underscore_and_capitalize }}</span>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                
                    {% with value|get_columns_with_value_dic:"DIS" as columns_dic %}
                    {% if columns_dic %}
                    <div class="row gx-1">
                        <div class="col-sm-2 border border-secondary bg-secondary d-flex align-items-center py-1"   style="border-width: 2px !important; border-radius: 10px;">
                            <h6 class="m-auto">DISPUTED</h6>
                        </div>
                        <div class="col-sm-10 py-1"  style="text-align: left;">
                            {% for column, value in columns_dic.items %}
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="{{ column|replace_underscore_and_capitalize }}" data-bs-html="true" data-bs-trigger="focus" data-bs-content='{{ value }}'>
                                <span class="fs-6 my-1 fw-normal badge rounded-pill bg-secondary">{{ column|replace_underscore_and_capitalize }}</span>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                
                </td>
                
                
                <!-- Tag tag (Disputed/Suspected etc.) -->
            </tr>
            <tr class="pt-4 mb-4">
                <td class="col-sm-12 pt-1 ps-4" scope="row">
                    <span class="h5">Power Transition in 
                        <span class = "fw-bold text-teal">{{ value.polity }}</span>
                    </span>
                    <h6 class="h6">Culture Group: <b>{{ value.culture_group|replace_underscore_and_capitalize }}</b> </h6>

                <br>
                {% autoescape off %}

                <p class="ps-2 fs-5 custom-left-border-shadowed ms-4">{{ value.description|make_references_look_nicer }}</p>
                {% endautoescape %}

                </td>
                </tr>
        </tbody>
      </table>
    </div>

