<section class="py-4 text-black"  id="showcase-seshat">
    <div class="container" >
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4" style="color:#def3e5; text-shadow: 3px 3px #235347; font-family: 'Lobster', serif; font-weight:400;">
                    Welcome to Seshat
                </h1>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8 me-auto">
                    <p class="lead"  style="color:#356859;">
                        <span style="background-color:rgba(222, 243, 229, 0.75);" class="px-4 border">
                            Seshat was founded in 2011 to bring together the most current and comprehensive body of knowledge about human history in one place. The huge potential of this knowledge for testing theories about political and economic development has been largely untapped.
                        </span>
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>

