{% load static %}

<br>
<div class="container text-center my-5">
    <div class="row">
        <div class="col-md-3">
            <hr>
        </div>
        <div class="col-md-6">
            <h1 style="font-family: 'Lobster', serif;">What Is Seshat About?</h1>
        </div>
        <div class="col-md-3">
            <hr>
        </div>
    </div>
    <br>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button seshat-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4> Who Are We?</h4>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body lead">
                Seshat: Global History Databank is governed by the Board of Directors, who are advised by a number of subject matter consultants. Data collection for a specific NGA is coordinated by a Regional Editor, and data entered for a specific polity has been gathered in consultation with expert historians and archaeologists but is continually updated via ongoing expert review (here is how). The hands-on work of populating the databank is accomplished by the project’s Research Assistants and Postdoctoral Research Associates. We thank all of the hardworking Seshat contributors for their tireless efforts populating our Databank with high-quality historical data.
            </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed seshat-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4>Research Ethics</h4>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body lead">
                The Seshat project involves the study of myriad different communities and populations from the past. Some peoples living today trace their ancestry to one or more of these past groups. As researchers, we have an obligation to present fair-minded, responsible, and respectful information concerning the past. While maintaining a commitment to scientific enquiry, we are committed to avoiding biased interpretation or representation of past or contemporary cultures, to refraining from using harmful or disrespectful terminology, and to treating sensitive information or topics with appropriate nuance and respect for the dignity and lived experiences of descendant communities.
            </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed seshat-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h4>You want to see our logo? </h4>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body lead">
            <img src="{% static 'SeshatLogo.png' %}" class="seshat-logo img-thumbnail rounded mx-auto d-block" alt="No Seshat Logo found.">
            </div>
        </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed seshat-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h4>Data Review Board</h4>
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body lead">
                    <p>
                        All Seshat codes go through an iterative process of editing and review before being used in analyses submitted for publication. For each variable, the initial value coded by RAs is later checked, edited, and augmented by Seshat experts, then reviewed by a Data Review Board (DRB). The latter comprises the senior team responsible for data management on a given paper, generally consisting of a combination of humanities scholars (e.g. historians, archaeologists, classicists, and anthropologists) and scientists (e.g. data analysts and complexity scientists). Typically, the DRB will include all members of the Seshat Board of Directors.
                    </p>
                    
                    <p>
                        The DRB engages Seshat experts to review coding decisions, provide literature recommendations, and assist with the interpretation of complicated or conflicting evidence. When Seshat experts point out disagreements in the literature or disagree among themselves on a particular code, this is recorded so that multiple analyses can be run taking into account contrasting interpretations. The DRB scrutinizes all initial coding decisions and may request further expert review, where appropriate, to address remaining points of uncertainty. The DRB is also responsible for ensuring that coding conventions are consistently applied across NGAs and by all Seshat RAs. The DRB is ultimately responsible for the data presented in published work.
                    </p>
                                   </div>
            </div>
        </div>
    </div>
</div>





