{% load humanize %}
{% load mathfilters %}
<sup style="top: -0.6em;">
    <span class="text-dark fw-light">

    {% if value.year_from == None %}
    <a type="button" class="btn p-0 m-0" data-bs-toggle="tooltip" data-bs-html="true"  title='Year Range of Polity is assumed.'>
        <span><i class="fa-solid fa-clock fs-6 text-secondary"></i> </span>
    </a>


        
    {% elif  value.year_from == value.year_to %}
        {% if  value.year_from < 0 %}
        {{ value.year_from|abs }} 
        
        <span class="text-secondary fw-light fs-6">BCE</span> 
    
        {% else %}
        {{ value.year_from }} 
    
        <span class="text-secondary fw-light fs-6">CE</span>

        {% endif %}
    {% elif value.year_to == None %}
        {% if  value.year_from < 0 %}
        {{ value.year_from|abs }} 
        
            <span class="text-secondary fw-light fs-6">BCE</span>
    
        {% else %}
        {{ value.year_from }} 
        
            <span class="text-secondary fw-light fs-6">CE</span>
    
        {% endif %}
    {% elif value.year_to == None and  value.year_from == None %}
        <i class="fa-solid fa-minus"></i> 
    {% else %}
        {% if  value.year_from < 0 and value.year_to < 0 %}
        {{ value.year_from|abs }} 
        
            <span class="text-secondary fw-light fs-6">BCE</span> 
    
        <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to|abs }}         
            <span class="text-secondary fw-light fs-6">BCE</span> 
    
        {% elif  value.year_from < 0 and value.year_to >= 0 %}
        {{ value.year_from|abs }}         
            <span class="text-secondary fw-light fs-6">BCE</span> 
     <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to }}         
            <span class="text-secondary fw-light fs-6">CE</span> 
    
        {% else %}
        {{ value.year_from }} 
            <span class="text-secondary fw-light fs-6">CE</span>
      <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to }}         
            <span class="text-secondary fw-light fs-6">CE</span> 
    
        {% endif %}

    {% endif %}
    {% if value.polity %}

    {% if  value.polity.end_year < value.year_from or  value.polity.start_year > value.year_to  %}
    <span class="text-danger fs-6"> *Bad Years, this polity duration: [{{value.polity.start_year}}, {{value.polity.end_year}}]
    </span>
    {% endif %}
    {% endif %}

    {% if value.other_polity %}
    {% if value.other_polity.end_year < value.year_from or  value.other_polity.start_year > value.year_to %}
    <span class="text-danger fs-6"> / * Bad Years: OTHER polity ({{value.other_polity.new_name}}) duration: [{{value.other_polity.start_year}}, {{value.other_polity.end_year}}]
    </span>

    {% endif %}
{% endif %}
</span>


</sup>