a {
    color: teal;
    text-decoration: none;
}

.text-teal {
    color: teal !important;
}

.text-brownie {
    color: #893101 !important;
}
/* h3, h4, h5, h6, p {
    color: rgba(var(--bs-success-rgb));
} */

label {
    color: rgba(var(--bs-success-rgb));
    font-weight: normal;
    display: inline-block;
}

.greenlink {
    color: rgba(var(--bs-success-rgb));
    font-weight: 500;
}

.teallink {
    color: teal;
    font-weight: 500;
}

a:hover {
    color: orange;
    text-decoration: none;
}

.seshat-logo {
    width: 300px;  
    height: auto;  
}

.isfahan-sky-light {
    color: #c9d8f9;
}

.isfahan-sky-dark {
    color: #4682B4;
}

.seshat-brownie {
    color: #893101;
}

hr {
    height:2px !important;
    border-width:0;
    background-color:rgba(var(--bs-success-rgb));
    /* background: linear-gradient(var(--bs-teal), var(--bs-pink)); */

}

input{
    cursor: pointer;
}
.bg-pink {
    background-color: var(--bs-pink);
}

.btn-pink {
    background-color: var(--bs-pink);
    color:aliceblue;
    font-weight: bold;
}

.line-break {
    width: 100%;
}

.bg-teal, .btn-teal{
    background-color: var(--bs-teal);
    font-weight: bold;
}

.form-check-input:checked {
    background-color: var(--bs-teal);
    border-color: var(--bs-teal);
}

hr.bg-colorful {
    background-image: linear-gradient(to right, red,orange,green,blue,indigo,violet);
}

hr.bg-colorful-vertical {
    height:20px !important;
    background-image: linear-gradient(rgba(var(--bs-success-rgb)), #fefae6);
    margin-top: 0px;
    margin-bottom: 0px;
}

hr.bg-colorful-vertical-bottom {
    height:20px !important;
    background-image: linear-gradient(#fefae6, rgba(var(--bs-success-rgb)));
    margin-top: 0px;
    margin-bottom: 0px;
}

hr.bg-fading {
    background-image: linear-gradient(to right, rgba(var(--bs-success-rgb)), #fefae6);
}

.border-colorful {
    border: 4px solid var(--bs-teal) !important;
    padding: 15px;
    border-radius: 20px;
}


.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

/* DropDown Multiple Select Select2 Overwriting */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #cff2cc !important;
    border: 1px solid rgba(var(--bs-success-rgb)) !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgba(var(--bs-success-rgb))!important;

}
/* For the tables being not so wide open all over the place. Neater so. */

.table>:not(caption)>*>* {
    padding: .25rem .25rem;
}

.table {
    margin-bottom: 0;
}

.zanzendegiazadi
{
    background:#000000;
    font-family:"Arabic Typesetting", serif;
    font-size:12pt;
    padding:0 0 0 0;
    margin: 0 0 0 0;
}