a {
    color: #893101;
    text-decoration: none;
}

h3, h4, h5, h6, p {
    color: rgba(var(--bs-success-rgb));
}

label {
    color: rgba(var(--bs-success-rgb));
    font-weight: bold;
    padding-bottom: 4px;
}


a:hover {
    color: #F87217;
    text-decoration: none;
}

.seshat-logo {
    width: 300px;  
    height: auto;  
}

.isfahan-sky-light {
    color: #c9d8f9;
}

.isfahan-sky-dark {
    color: #4682B4;
}

.seshat-brownie {
    color: #893101;
}

hr {
    height:4px !important;
    border-width:0;
    background-color:rgba(var(--bs-success-rgb));
    /* background: linear-gradient(var(--bs-teal), var(--bs-pink)); */

}

.bg-pink {
    background-color: var(--bs-pink);
}

.bg-teal, .btn-teal{
    background-color: var(--bs-teal);
    font-weight: bold;
}

.form-check-input:checked {
    background-color: var(--bs-teal);
    border-color: var(--bs-teal);
}

hr.bg-colorful {
    background-image: linear-gradient(to right, red,orange,green,blue,indigo,violet);
}

hr.bg-colorful-vertical {
    height:20px !important;
    background-image: linear-gradient(rgba(var(--bs-success-rgb)), #fefae6);
    margin-top: 0px;
    margin-bottom: 0px;
}

hr.bg-fading {
    background-image: linear-gradient(to right, rgba(var(--bs-success-rgb)), #fefae6);
}

.border-colorful {
    border: 4px solid var(--bs-teal) !important;
    padding: 20px;
    border-radius: 20px !important;
}
