{% extends "core/form_base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block extra_vars %}
    <div class="col-md-4 mb-2">
        {{ form.longitude|as_crispy_field }}
    </div>
{% endblock extra_vars %}

{% block extra_vars2 %}

<div class="col-md-4 mb-2">
{{ form.latitude|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
{{ form.elevation|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
{{ form.sub_category|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
{{ form.magnitude|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
{{ form.duration|as_crispy_field }}
</div>
{% endblock extra_vars2 %}
        