{% extends "core/seshat-base.html" %}
{% load humanize %}

{% block content %}
<style>
    .card {
        border: 1px solid teal; /* Adjust the border color and thickness as desired */
        padding-top: 4px;        
        padding-bottom: 4px;
        background-color: #fefae6;
        border-radius: 4px;
      }
      
      .card-title {
        margin-bottom: 10px;
        color: #555;
      }
      
      .card-subtitle {
        color: #888;
        margin-bottom: 10px;
      }

      
      .card-text {
        margin-bottom: 20px;
      }
      
      .card-link {
        display: inline-block;
        margin-right: 0px;
        margin-left: 0px;
        padding: 8px 8px;
        border: none;
        text-decoration: none;
        transition: background-color 0.3s;
      }
      .card-body {
        padding: 4px;
        display: flex;
        flex-direction: column;
        align-items: center !important;
      }

      .card-body h5 {
        text-align: center;
      }

      .flex-grow-1 {
        flex-grow: 1;
      }

      .number-circle {
        color: #fefae6;
      }

      .card-link:hover {
        background-color: teal;
        border-radius: 4px;
      }
</style>
<div class="container mt-4">
    <div class="row">
        <h1 class="display-6">Warfare variables:</h1>
        <p>
            Warfare variables are a part of Classical Seshat Database.
        </p>
        <hr>
        <h2 class="display-6">Military Technologies</h2>
        <p>
            A military technology should be coded 'present' if there is concrete evidence that it was used in warfare (e.g. metal in armor or weapons, spears used in warfare and not only in hunting, etc) and 'inferred present' if there is evidence that the polity used the technology (e.g. for hunting, as an ornamental or ceremonial item, in jewelry), but no concrete evidence that the metal was specifically used in warfare (explain in comment).
        </p>
    </div>
    <div class="row">
        <h2 class="py-3 ps-0"><span class="badge rounded-pill bg-teal text-dark">Warfare variables</span> <span class="h5 text-secondary">We have coded a total of  
            <b class="h4 text-dark">
            {{number_of_all_rows|intcomma}}</b>
            different values for 
            <b class="h4 text-dark">
            {{number_of_variables}}</b>
            variables in 
            <b class="h4 text-dark">
            {{all_polities}}</b>
            polities.</span>
        </h2>
        {% for k, v in my_counts.items %}
                <div class="card col-md-2">
                    <div class="card-body d-flex flex-column align-items-center">
                      <h5 class="card-title mb-3">
                        <span>
                        {{v.0}}
                        </span>
                    </h5>
                      
                      <div class="flex-grow-1"></div>
                      <h4 class="card-subtitle mb-2 text-muted">
                        <span ><a href="{% url v.5 %}" class="card-link" type="button" data-bs-toggle="tooltip" data-bs-html="true"  title="View All"> {{ v.6|intcomma }}</a> </span>

                                               
                        </h4>
                      <table>
                        <tbody>
                            <tr>
                                <td><a href="{% url v.3 %}" class="card-link" type="button" data-bs-toggle="tooltip" data-bs-html="true"  title="Download All"> <i class="fa-solid fa-file-arrow-down"></i></a></td>
                                <td><a href="{% url v.2 %}" class="card-link" type="button" data-bs-toggle="tooltip" data-bs-html="true"  title="Add New Values"><i class="fa fa-plus"></i></a></td>
                                <td><a href="{% url v.5 %}" class="card-link" type="button" data-bs-toggle="tooltip" data-bs-html="true"  title="View All"> <i class="fa fa-eye"></i></a></td>
                            </tr>
                        </tbody>
                      </table>
                                          
                    </div>
                  </div>
            {% endfor %}
        <hr>           
    </div>
</div>

{% endblock %}
