{% extends "core/list_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block download_button %}
    <a href="{% url 'jinshi_degrees_awarded-create' %}" class="btn btn-outline-success mx-3 my-4 float-end"><i class="fas fa-plus"></i> &nbsp; Add More Facts</a>
    <a href="{% url 'jinshi_degrees_awarded-download' %}" class="btn btn-outline-primary ms-auto my-4 float-end"><i class="fas fa-download"></i> &nbsp; Download All</a>
{% endblock download_button %}

{% block main_description %}

{% endblock main_description %}

{% block myheadings_list %}
<th style="text-align: center;" scope="col">Jinshi Degrees Awarded</th>
<th style="text-align: center;" scope="col">Emperor</th>
<th style="text-align: center;" scope="col">Population in Year x</th>
{% endblock myheadings_list %}

{% block extra_vars_list %}

<td class = "{% if obj.tag == 'DSP' %}
text-danger
{% elif obj.tag == 'SSP' %}
text-warning
{% elif obj.tag == 'UNK' %}
text-secondary
{% elif obj.tag == 'IFR' %}
text-primary
{% else %}
text-success
{% endif %} fw-bold" style="text-align: center;">{{ obj.jinshi_degrees_awarded }}
    {% if obj.display_citations %}
    <sup>
        <span type="button" data-bs-toggle="popover" title="Refs:" data-bs-html="true" data-bs-content=" {{ obj.display_citations }}">&nbsp;<i class="far fa-bookmark text-info"></i></span>
    </sup>
    {% endif %}

</td>

<td class = "{% if obj.tag == 'DSP' %}
text-danger
{% elif obj.tag == 'SSP' %}
text-warning
{% elif obj.tag == 'UNK' %}
text-secondary
{% elif obj.tag == 'IFR' %}
text-primary
{% else %}
text-success
{% endif %} fw-bold" style="text-align: center;">{{ obj.emperor|intcomma }}
    {% if obj.display_citations %}
    <sup>
        <span type="button" data-bs-toggle="popover" title="Refs:" data-bs-html="true" data-bs-content=" {{ obj.display_citations }}">&nbsp;<i class="far fa-bookmark text-info"></i></span>
    </sup>
    {% endif %}

</td>

<td class = "{% if obj.tag == 'DSP' %}
text-danger
{% elif obj.tag == 'SSP' %}
text-warning
{% elif obj.tag == 'UNK' %}
text-secondary
{% elif obj.tag == 'IFR' %}
text-primary
{% else %}
text-success
{% endif %} fw-bold" style="text-align: center;">{{ obj.population_in_year_x|intcomma }}
    {% if obj.display_citations %}
    <sup>
        <span type="button" data-bs-toggle="popover" title="Refs:" data-bs-html="true" data-bs-content=" {{ obj.display_citations }}">&nbsp;<i class="far fa-bookmark text-info"></i></span>
    </sup>
    {% endif %}

</td>
{% endblock extra_vars_list %}

<!-- Update Button -->
{% block update_button %}
    <td style="text-align: center;"><a href="{% url 'jinshi_degrees_awarded-update' obj.id %}"><button class="btn btn-outline-primary btn-sm">Update</button></a></td>
{% endblock update_button %}
        