{% extends "core/seshat-base.html" %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <h1 class="display-6">Social Complexity Variables from Wiki:</h1>
        <p>
            Social Complexity Variables are a part of Classical Seshat Database.
        </p>
        <hr>
    </div>
    <div class="row">
        {% for section, subsect_dic in my_dict.items %}
            <h3> <i class="fas fa-caret-right"></i> <span class="badge rounded-pill bg-primary">{{ section }}</span></h3>
            {% for subsection, var_list in subsect_dic.items %}
                <h5> <i class="fas fa-chevron-circle-down"></i> <span class="badge rounded-pill bg-success">{{ subsection }}</span></h5>
                <table class="table align-middle table-striped">
                {% for list_item in var_list %}
                <tr>
                    <td scope="row" class="col-md-6 fw-bold">
                        <a  href="{% url list_item.5 %}"><i class="fa-regular fa-circle-right"></i> &nbsp; {{list_item.0}}</a></td>
                    <td  scope="row" class="col-md-6">
                        <a class="btn btn-sm btn-success ms-auto float-end me-2" href="{% url list_item.2 %}" class="card-link"> <i class="fa fa-plus"></i>&nbsp; Add &nbsp; </a>
                        <a class="btn btn-sm btn-primary ms-auto float-end me-2" href="{% url list_item.5 %}" class="card-link"> <i class="fa fa-eye"></i> &nbsp; View </a>
                        <a class="btn btn-sm btn-dark ms-auto float-end me-2" href="{% url list_item.4 %}" class="card-link"> <i class="fa-solid fa-download"></i> &nbsp; Metadata </a>
                        <a class="btn btn-sm btn-info ms-auto float-end me-2" href="{% url list_item.3 %}" class="card-link"><i class="fa-solid fa-file-arrow-down"></i> &nbsp; Download All </a>
                    </td>
                </tr>
                {% endfor %}
                </table>
            {% endfor %}
        <hr>           
        {% endfor %} 
    </div>
</div>

{% endblock %}
