{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load custom_filters %}


{% block content %}
<style>
    br {
        display: block;
        margin: 10px 0; /* Adjust the value as per your requirement */
        content: "";
    }
    .custom-left-border-shadowed {
        border-left: none; /* Adjust the border color and thickness as desired */
        box-shadow: 0 0 4px teal; 
        padding-right: 10px;
        padding-top: 10px;
        margin-top: 5px;
        padding-bottom: 10px;
        border-radius: 15px;
        padding-left: 10px; /* Adjust the padding to create spacing between the border and content */
        text-align: justify;
    }

    .custom-top-border {
        border-top: 2px solid teal; /* Adjust the border color and thickness as desired */
        padding-top: 2px; /* Adjust the padding to create spacing between the border and content */
    }


    .custom-border-tight {
        border-left: 10px solid teal; /* Adjust the border color and thickness as desired */
        padding-left: 5px; /* Adjust the padding to create spacing between the border and content */
    }

    .highlighted-value {
        display: inline-block; 
        border: none; /* 1px solid #198754;*/ 
        padding: 5px; 
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(25, 135, 84, 0.5); 
        background-color:#fefae6;
        
    }

    .montserrat-font {
        font-family: 'Montserrat', sans-serif;
    }

    .oswald-font {
        font-family: 'Ubuntu', serif;
    }

    .light-narrow-hr {
        border: none;
        border-top: 1px solid #f0ecec;
        height: 0.25px;
        margin: 10px 0;
        width: 100%;
      }

      .tag-border{
        border: 1px solid #82c5c5; /* Adjust the border color and thickness as desired */
      }

      .text-teal-light{
        color: #82c5c5;
      }

      .tag-border2{
        border: 1px solid teal; /* Adjust the border color and thickness as desired */
        border-radius: 5px;
        background-color:#fefae6;
      }

      .text-success2 {
        background-color:#acd2cc;;
      }
</style>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row d-flex align-items-center mb-2">
                <div class="col-md-8">
                    <span class="fw-bolder fs-1 text-teal"><i class="fa-solid fa-star fa-sm"></i> {{ object.long_name }}</span>
                </div>
                <div class="col-md-4">    
                    <a href="{% url 'polity-update' object.pk  %}" class="btn btn-outline-danger mx-1 my-2 float-end"><i class="fa-regular fa-pen-to-square"></i> &nbsp; Edit This Polity</a>

                    <a href="{% url 'polities' %}" class="btn btn-outline-success mx-1 my-2 float-end"><i class="fa-solid fa-list-ul"></i> &nbsp; See All Polities</a>
                    <a href='http://seshatdatabank.info/browser/{{ object.name }}' class="btn btn-outline-secondary mx-1 my-2 float-end" target="_blank"> <i class="fa-solid fa-arrow-up-right-from-square"></i> Wiki: {{ object.name }}</a>
                </div>

            </div>
            <div>
                <div class="col-md-12 row ">
                    <div class="col-md-4 tag-border2">
                        <h5 class="pt-2 fw-light text-teal">New ID: 
                            <span class="fw-bold text-dark">
                                {{ object.new_name }}
                            </span>
                        </h5>
                    </div>
                    <div class="col-md-4 tag-border2">
                        <h5 class="pt-2 fw-light text-secondary">Old ID:
                            <span class="fw-bold text-dark">
                                {{ object.name }}
                            </span>
                        </h5>
                    </div>
                    <div class="col-md-4 tag-border2">

                        <h5 class="pt-2 fw-light">Home NGA: 
                            <span class="fw-bold text-dark">
                                {{ object.home_nga }}
                            </span>
                        </h5>
                    </div>

                </div>

            </div>

            <h6 class="text-secondary pt-3">* A polity is defined as an independent political unit. Kinds of polities range from villages (local
                communities) through simple and complex chiefdoms to states and empires.</h6>
            <h6 class="text-secondary pb-3">* A polity can be either centralized or not (e.g., organized as a confederation). For those periods when a region is divided up among a multitude of small-scale polities (e.g., independent villages or even many small chiefdoms) or when it is controlled in quick succession by a number of different regimes, we use the concept of 'quasi-polity'.</h6>
            {% if all_general_data %}

            <div class="col-md-9">
                <h3 class="fw-bold pb-2"> <i class="fa-solid fa-circle-right"></i> General Variables: &nbsp; <a href="#general_var"><i class="fa-solid fa-circle-arrow-down fa-sm"></i></a></h3>
            </div>

            <div class="row px-1">
                <div class="table-responsive mb-4 col-md-12">
                    <table id="table_id" class="table align-middle table-bordered">
                        <tbody>
                            <tr class="col-md-12">
                        {% for key, values in all_general_data.items %}
                        {% if values %}

                            <td class="fw-bold text-secondary" style="text-align: left;">
                                <i class="fa-solid fa-circle fa-2xs text-teal"></i>&nbsp;{{values.0.clean_name_spaced|slice:"7:"}}:&nbsp;
                                {% for vv in values %}
                                        {% if forloop.counter0 > 0 %}
                                        <span class="text-secondary">
                                            /
                                        </span>
                                        {% endif %}
                                        {% if  vv.show_value == 'present' %}

                                        <span class="h6 text-teal fw-bold">
                                            {{ vv.show_value }}
                                        </span> 
                                        {% elif vv.show_value == "absent" %}
                                        <span class="h6 text-danger fw-bold">
                                            {{ vv.show_value }}
                                        </span> 
                                        {% else %}
                                        <span class="h6 text-dark fw-bold">
                                            {{ vv.show_value }}
                                        </span> 

                                        {% endif %}

                                {% endfor %}
                                <a class="h6" href="#{{key}}"> &nbsp;<i class="fa-solid fa-circle-arrow-down fa-sm text-teal-light"></i>
                                    </a>

                            {% else %}
                            <td class="fw-bold text-secondary" style="text-align: left;">
                                <i class="fa-solid fa-circle fa-xs text-teal"></i> &nbsp;{{key}}: &nbsp; Not coded yet.

                            {% endif %}

                            </td>
                            {% if forloop.counter|divisibleby:2 and not forloop.last %}
                                </tr><tr class="col-md-12">
                            {% elif forloop.last %}
                                </tr>
                            {% endif %}

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="col-md-9">
                <h3 class="fw-bold pb-2"> <i class="fa-solid fa-circle-right"></i> General Variables: <span class="text-secondary fs-4">No variables coded yet.</span>   </h3>
            </div>

            {% endif %}

            {% if all_sc_data %}
            <div class="col-md-9">
                <h3 class="fw-bold pb-2 pt-3"> <i class="fa-solid fa-circle-right"></i> Social Complexity Variables: &nbsp; <a href="#sc_var"><i class="fa-solid fa-circle-arrow-down fa-sm"></i></a></h3>
            </div>

            <div class="row px-1">
                <div class="table-responsive mb-4 col-md-12">
                    <table id="table_id_sc" class="table align-middle table-bordered">
                        <tbody>
                            <tr class="col-md-12">
                        {% for key, values in all_sc_data.items %}
                        {% if values %}

                            <td class="fw-bold text-secondary" style="text-align: left;">
                                <i class="fa-solid fa-circle fa-2xs text-teal"></i>&nbsp;{{values.0.clean_name_spaced}}:&nbsp;
                                {% for vv in values %}
                                        {% if forloop.counter0 > 0 %}
                                    <span class="text-secondary">/</span>
                                        {% endif %}
                                        {% if  vv.show_value == 'present' %}

                                        <span class="h6 text-teal fw-bold">{{ vv.show_value }}</span> 
                                        {% elif vv.show_value == "absent" %}
                                        <span class="h6 text-danger fw-bold">{{ vv.show_value }}</span> 
                                        {% else %}
                                        <span class="h6 text-dark fw-bold">{{ vv.show_value }}</span> 

                                        {% endif %}

                                {% endfor %}
                                <a class="h6" href="#{{key}}"> &nbsp;<i class="fa-solid fa-circle-arrow-down fa-sm text-teal-light"></i>
                                    </a>

                            {% else %}
                            <td class="fw-bold text-secondary" style="text-align: left;">
                                <i class="fa-solid fa-circle fa-xs text-teal"></i> &nbsp;{{key}}: &nbsp; Not coded yet.

                            {% endif %}

                            </td>
                            {% if forloop.counter|divisibleby:2 and not forloop.last %}
                                </tr><tr class="col-md-12">
                            {% elif forloop.last %}
                                </tr>
                            {% endif %}

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="col-md-9">
                <h3 class="fw-bold pb-2"> <i class="fa-solid fa-circle-right"></i> Social Complexity Variables: <span class="text-secondary fs-4">No variables coded yet.</span>   </h3>
            </div>

            {% endif %}

            {% if all_wf_data %}

            <div class="col-md-9">
                <h3 class="fw-bold pb-2 pt-3"> <i class="fa-solid fa-circle-right"></i> Warfare Variables (Military Technologies): &nbsp; <a href="#wf_var"><i class="fa-solid fa-circle-arrow-down fa-sm"></i></a></h3>
            </div>
            <div class="row px-1">
                <div class="table-responsive mb-4 col-md-12">
                    <table id="table_id_sc" class="table align-middle table-bordered">
                        <tbody>
                            <tr class="col-md-12">
                        {% for key, values in all_wf_data.items %}
                        {% if values %}

                            <td class="fw-bold text-secondary" style="text-align: left;">
                                <i class="fa-solid fa-circle fa-2xs text-teal"></i>&nbsp;{{values.0.clean_name_spaced}}:&nbsp;
                                {% for vv in values %}
                                        {% if forloop.counter0 > 0 %}
                                    <span class="text-secondary">/</span>
                                        {% endif %}
                                        {% if  vv.show_value == 'present' %}

                                        <span class="h6 text-teal fw-bold">{{ vv.show_value }}</span> 
                                        {% elif vv.show_value == "absent" %}
                                        <span class="h6 text-danger fw-bold">{{ vv.show_value }}</span> 
                                        {% else %}
                                        <span class="h6 text-dark fw-bold">{{ vv.show_value }}</span> 

                                        {% endif %}

                                {% endfor %}
                                <a class="h6" href="#{{key}}"> &nbsp;<i class="fa-solid fa-circle-arrow-down fa-sm text-teal-light"></i>
                                    </a>

                            {% else %}
                            <td class="fw-bold text-secondary" style="text-align: left;">
                                <i class="fa-solid fa-circle fa-xs text-teal"></i> &nbsp;{{key}}: &nbsp; Not coded yet.

                            {% endif %}

                            </td>
                            {% if forloop.counter|divisibleby:2 and not forloop.last %}
                                </tr><tr class="col-md-12">
                            {% elif forloop.last %}
                                </tr>
                            {% endif %}

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="col-md-9">
                <h3 class="fw-bold pb-2"> <i class="fa-solid fa-circle-right"></i> Warfare Variables (Military Technologies): <span class="text-secondary fs-4">No variables coded yet.</span>   </h3>
            </div>

            {% endif %}

            {% for key, values in all_data.items %}
            {% if "Human_sacrifice_for_polity" == key  %}
                {% if values and 'core.view_capital' in user.get_all_permissions %}

                <div class="col-md-9">
                    <h3 class="fw-bold pb-2 pt-3"> <i class="fa-solid fa-circle-right"></i> Human Sacrifice Data: &nbsp; <a href="#hs_var"><i class="fa-solid fa-circle-arrow-down fa-sm"></i></a></h3>
                </div>

                {% else %}
                <div class="col-md-9">
                    <h3 class="fw-bold pb-2"> <i class="fa-solid fa-circle-right"></i> Human Sacrifice Data: <span class="text-secondary fs-4">Nothing coded yet.</span> </h3>
                </div>

                {% endif %}

                {% if values and 'core.view_capital' in user.get_all_permissions %}

                <div class="row px-1">
                    <div class="mb-2 col-md-12">
                                {% for key, values in all_data.items %}
                                    {% if "Human_sacrifice_for_polity" == key %}
                                    {% for value in values %}
                                    
                                    <span class="fs-6 fw-bold text-teal pt-2 pb-1 pe-2 ps-2 ms-2 me-2 mb-1 mt-1 highlighted-value">
                                        {% if  value.show_value == 'Absent' %}
                                        <span class="text-danger fw-bold">{{value.show_value}}</span> 
                                        {% else %}
                                        <span class="text-success fw-bold">{{value.show_value}}</span> 
                                        {% endif %}
                                        <span class="fs-5">
                                            {% include "core/partials/_year_block_value_inline.html" %}
                                        </span> 
                                    </span>
                                    {% endfor %}  
                                    {% endif %}
                                {% endfor %}  

                    </div>
                </div>

                {% endif %}
                <hr class="light-narrow-hr">


            {% endif %}

            {% endfor %}  
        

            {% if all_crisis_cases_data and 'core.view_capital' in user.get_all_permissions %}

            <div class="col-md-9">
                <h3 class="fw-bold pb-2 pt-3"> <i class="fa-solid fa-circle-right"></i> Crisis Consequences Data: &nbsp; <a href="#crisis_case_var"><i class="fa-solid fa-circle-arrow-down fa-sm"></i></a></h3>
            </div>
            <div class="row px-1">
                <div class="mb-2 col-md-12">

                    {% for key, values in all_crisis_cases_data.items %}
                    {% if values %}
                        <div class="py-2"  id="{{key}}">
                                {% for value in values %}
                                <span class="fs-5 text-teal pt-2 pb-1 pe-2 me-2 ms-2 mb-1 mt-1 highlighted-value">
                                    {% if value.is_first_100 == True %}
                                    <sup>
                                        <span class="badge bg-warning text-dark pb-1 pt-1 px-2" style="padding:3px;"><b> First 100</b> </span>
                                    </sup>
                                        {% endif %}
                                    {{value.name}} 
                                        
                                    <span class="fs-5">
                                        {% include "core/partials/_year_block_value_inline.html" %}
                                    </span> 
                                </span>
            
                                {% endfor %}                                        
                            </div>
                        {% endif %}
                        {% endfor %}

                </div>
            </div>

            {% else %}
            <div class="col-md-9">
                <h3 class="fw-bold pb-2"> <i class="fa-solid fa-circle-right"></i> Crisis Consequences Data: <span class="text-secondary fs-4">Nothing coded yet.</span> </h3>
            </div>
            {% endif %}
            <hr class="light-narrow-hr">



            {% if all_power_transitions_data and 'core.view_capital' in user.get_all_permissions %}

            <div class="col-md-9">
                <h3 class="fw-bold pb-2 pt-3"> <i class="fa-solid fa-circle-right"></i> Power Transitions Data: &nbsp; <a href="#power_trans_var"><i class="fa-solid fa-circle-arrow-down fa-sm"></i></a></h3>
            </div>
            <div class="row px-1">
                <div class="mb-2 col-md-12">
                    {% for key, values in all_power_transitions_data.items %}
                    {% if values %}
                        <div class="py-2"  id="{{key}}">
                                {% for value in values %}
                                <span class="fs-5 text-teal pt-2 pb-0 pe-2 me-2 ms-2 mb-2 mt-1 highlighted-value">
                                    <span>
                                        <i class="fa-solid fa-bolt fa-sm"></i>
                                        <span class = "text-danger">{{ value.predecessor }}</span> <span class="text-dark fw-light"> <i class="fa-solid fa-arrow-right-long fa-sm"></i> </span> 
                                        <span class = "text-teal">{{ value.successor }}</span>.
                                    </span>
                                    <span class="fs-5">
                                        {% include "core/partials/_year_block_value_inline.html" %}
                                    </span> 
                                </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% endfor %}

                </div>
            </div>

            {% else %}
            <div class="col-md-9">
                <h3 class="fw-bold pb-2"> <i class="fa-solid fa-circle-right"></i> Power Transitions Data: <span class="text-secondary fs-4">Nothing coded yet.</span> </h3>
            </div>
            {% endif %}
            <hr class="light-narrow-hr">



        </div>
        <div class="table-responsive mb-2">
            <h3 class="fw-bold pb-2 pt-3"> <i class="fa-solid fa-circle-right"></i> NGA Settlements:</h3>

            <table class="table table-bordered p-5">
                <thead>
                    <tr>
                        <th>Year Range</th>
                        <th>{{ object.long_name }} ({{object.new_name}}) was in: </th>
                    </tr>
                </thead>
            <tbody>
                {% for concise_rel in nga_pol_rel.items %}
                <tr>
                    {% include "core/partials/_year_block_nga.html" %}

                    <td class="text-success fw-bold fs-6 p-2">
                        <i class="fa-solid fa-earth-americas fa-xs"></i>&nbsp;
                        {% for nga in concise_rel.1 %}
                        {% if not forloop.last %}
                        {% if nga.name == object.home_nga.name %}
                        <u>{{ nga.name }} </u>
                        <sup>
                            <i class="fa-solid fa-house fa-sm text-teal"></i>
                        </sup>
                        {% else %}
                        {{ nga.name }} 
                        {% endif %}
                        &nbsp; <i class="fa-solid fa-earth-americas fa-xs"></i> &nbsp;                        
                        {% else %}
                    
                        {% if nga.name == object.home_nga.name %}
                        <u>{{ nga.name }} </u>
                        <sup>
                            <i class="fa-solid fa-house fa-sm text-teal"></i>
                        </sup>
                        {% else %}
                        {{ nga.name }} 
                        {% endif %}
                        {% endif %}

                        {% endfor %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <h5 class="fw-light pt-2 ms-2 text-teal"> <i class="fa-solid fa-house fa-sm"></i> Home NGA: <span class="fw-bold">{{ object.home_nga }}</span></span></h5>
        </div>
    </div>
    <hr>

    <div>
        <h1 class="pt-2 display-4" style="text-align: left; color:#893101;" id="general_var"><span class="h1"><i class="fa-solid fa-circle-arrow-down fa-sm"></i> General Variables</span></h1>
        
        {% for key, values in all_general_data.items %}
        {% if values %}
        <div class="py-2 custom-left-border-shadowed">
            <div class="row d-flex">
                <div class="col-md-6">
                    <span class="pt-1 fs-5 pb-1 fw-bold" id="{{key}}"> <i class="fa-solid fa-star fa-2xs"></i> {{ values.0.clean_name_spaced|slice:"7:" }}:            </span> 

                </div>
                <div class="col-md-6">
                    <a href="{% url key|lower|add:'s_all' %}" class="btn float-end fw-light">View <b>all</b> {{ values.0.clean_name_spaced|slice:"7:"|add:'s' }} <i class="fa-solid fa-list"></i></a>
                </div>
            </div>
                {% for value in values %}
                <span class="fs-4 fw-bold text-teal pt-2 pb-1 pe-2 ps-2 ms-2 me-2 mb-1 mt-1 highlighted-value">
                    {{value.show_value}} 
                    {% include "core/partials/_year_block_value_inline.html" %}
                    <div style="display: block; padding: 0;">
                        <div style="display: inline-flex; flex-direction: row;">
                            {% include "core/partials/_tag_value_inline.html" %}
                            {% include "core/partials/_disputed_value_inline.html" %}
                            {% include "core/partials/_uncertain_value_inline.html" %}
                            {% include "core/partials/_expert_checked_value_inline.html" %}

                            <a class="p-0 m-0 fs-6" type="button" href="{% url key|lower|add:'-update' value.id %}">
                                <span class="badge rounded-pill bg-danger tag-border"> <i class=" fa-solid fa-pen-to-square text-white"></i></span>
                            </a>                  
                        </div>
                    </div>
                </span>
                {% endfor %}
            <br>
                    {% autoescape off %}   
                        {% if values.0.description %}
                        <p class="fs-6">
                            <i class="fa-solid fa-layer-group fa-xs text-teal"></i>   
                            {{values.0.description|make_references_look_nicer}}
                        </p>  
                        {% endif %}
                    {% endautoescape %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        <h1 class="pt-2 display-4" style="text-align: left; color:#893101;" id="sc_var"><span class="h1"><i class="fa-solid fa-circle-arrow-down fa-sm"></i> Social Complexity Variables</span></h1>
        {% for key, values in all_sc_data.items %}
        {% if values %}
        <div class="py-2 custom-left-border-shadowed">
            <div class="row d-flex">
                <div class="col-md-6">
                    <span class="pt-1 fs-5 pb-1 fw-bold" id="{{key}}"> 
                        <i class="fa-solid fa-star fa-2xs"></i>
                        {{ values.0.clean_name_spaced }}:            
                    </span> 
                </div>
                <div class="col-md-6">
                    <a href="{% url key|lower|add:'s_all' %}" class="btn float-end fw-light">View <b>all</b> {{ values.0.clean_name_spaced|add:'s' }} <i class="fa-solid fa-list"></i></a>
                </div>
            </div>
                {% for value in values %}
                <span class="fs-4 fw-bold text-teal pt-2 pb-1 pe-2 ps-2 ms-2 me-2 mb-1 mt-1 highlighted-value">{{value.show_value}} 
                    {% include "core/partials/_year_block_value_inline.html" %}
                    <div style="display: block; padding: 0;">
                        <div style="display: inline-flex; flex-direction: row;">
                            {% include "core/partials/_tag_value_inline.html" %}
                            {% include "core/partials/_disputed_value_inline.html" %}
                            {% include "core/partials/_uncertain_value_inline.html" %}
                            {% include "core/partials/_expert_checked_value_inline.html" %}

                            <a class="p-0 m-0 fs-6" type="button" href="{% url key|lower|add:'-update' value.id %}">
                                <span class="badge rounded-pill bg-danger tag-border"> <i class=" fa-solid fa-pen-to-square text-white"></i></span>
                            </a>                  
                        </div>
                    </div>
                </span>
                {% endfor %}
            </span>
            <br>
            {% autoescape off %}   
                {% if values.0.description %}
                <p class="fs-6">
                    <i class="fa-solid fa-layer-group fa-xs text-teal"></i>   
                    {{values.0.description|make_references_look_nicer}}
                </p>     
                {% endif %}
            {% endautoescape %}    
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        <h1 class="pt-2 display-4" style="text-align: left; color:#893101;" id="wf_var"><span class="h1"><i class="fa-solid fa-circle-arrow-down fa-sm"></i> Warfare Variables (Military Technologies)</span></h1>

        {% for key, values in all_wf_data.items %}
        {% if values %}
            <div class="py-2 custom-left-border-shadowed">
                <div class="row d-flex">
                    <div class="col-md-6">
                        <span class="pt-1 fs-5 pb-1 fw-bold" id="{{key}}"> 
                            <i class="fa-solid fa-star fa-2xs"></i>
                            {{ values.0.clean_name_spaced }}:            
                        </span> 
                    </div>
                    <div class="col-md-6">
                        <a href="{% url key|lower|add:'s_all' %}" class="btn float-end fw-light">View <b>all</b> {{ values.0.clean_name_spaced|add:'s' }} <i class="fa-solid fa-list"></i></a>
                    </div>
                </div>
                    {% for value in values %}
                    <span class="fs-4 fw-bold text-teal pt-2 pb-1 pe-2 ps-2 ms-2 me-2 mb-1 mt-1 highlighted-value">{{value.show_value}} 
                        {% include "core/partials/_year_block_value_inline.html" %}
                        <div style="display: block; padding: 0;">
                            <div style="display: inline-flex; flex-direction: row;">
                                {% include "core/partials/_tag_value_inline.html" %}
                                {% include "core/partials/_disputed_value_inline.html" %}
                                {% include "core/partials/_uncertain_value_inline.html" %}
                                {% include "core/partials/_expert_checked_value_inline.html" %}
                                <a class="p-0 m-0 fs-6" type="button" href="{% url key|lower|add:'-update' value.id %}">
                                    <span class="badge rounded-pill bg-danger tag-border"> <i class=" fa-solid fa-pen-to-square text-white"></i></span>
                                </a>                  
                            </div>
                        </div>
                    </span>
                    {% endfor %}
                <br>
                {% autoescape off %}   
                    {% if values.0.description %}
                    <p class="fs-6">
                        <i class="fa-solid fa-layer-group fa-xs text-teal"></i>   
                        {{values.0.description|make_references_look_nicer}}
                    </p>    
                    {% endif %}
                {% endautoescape %}      
                </div>
            {% endif %}
            {% endfor %}
    </div>

    {% for key, values in all_data.items %}
    {% if "Human_sacrifice_for_polity" == key %}

    <h1 class="pt-2 display-4" style="text-align: left;  color:#893101;" id="hs_var"><span class="h1"><i class="fa-solid fa-circle-arrow-down fa-sm"></i> Human Sacrifice Data</span></h1>
    <h6>
        <span> <i class="fa-solid fa-caret-right"></i> Human Sacrifice is the deliberate and ritualized killing of a person to please or placate supernatural entities (including gods, spirits, and ancestors) or gain other supernatural benefits. </span>
    </h6>
    <div class="py-2 custom-left-border-shadowed">
        <div class="row d-flex">
            <div class="col-md-6">
                <span class="pt-1 fs-5 pb-1 fw-bold" id="{{key}}"> 
                    <i class="fa-solid fa-star fa-2xs"></i>
                    Human Sacrifice:            
                </span> 
            </div>
            <div class="col-md-6">
                <a href="{% url 'human_sacrifices_all' %}" class="btn float-end fw-light">View <b>all</b> Human Sacrifices <i class="fa-solid fa-list"></i></a>
            </div>
        </div>            
        {% if values and 'core.view_capital' in user.get_all_permissions %}

                {% for value in values %}
                    <span class="fs-4 fw-bold text-teal pt-2 pb-1 pe-2 ps-2 ms-2 me-2 mb-1 mt-1 highlighted-value">{{value.show_value}} 
                        {% include "core/partials/_year_block_value_inline.html" %}
                        <div style="display: block; padding: 0;">
                            <div style="display: inline-flex; flex-direction: row;">
                                {% include "core/partials/_tag_value_inline.html" %}
                                {% include "core/partials/_disputed_value_inline.html" %}
                                {% include "core/partials/_expert_checked_value_inline.html" %}
                                {% include "core/partials/_drb_checked_value_inline.html" %}

                                <a class="p-0 m-0 fs-6" type="button" href="{% url 'human_sacrifice-update' value.id %}">
                                    <span class="badge rounded-pill bg-danger tag-border"> <i class=" fa-solid fa-pen-to-square text-white"></i></span>
                                </a>    
                                
                                {% if value.comment.id == 1 %}
                                    <a class="p-0 m-0 fs-6" href="{% url 'create_subcomment' value.id %}"><span class="badge rounded-pill bg-secondary tag-border"> <i class=" fa-solid fa-plus text-white"></i> Create Description</span></a>
                                {% else  %}
                                    <a class="p-0 m-0 fs-6" href="{% url 'seshatcomment-update' value.comment.id %}"><span class="badge rounded-pill bg-secondary tag-border"> <i class=" fa-solid fa-pen-to-square text-white"></i> Edit Description</span></a>
                                {% endif %}          
                            </div>
                        </div>
                    </span>
                    <br>
                        {% autoescape off %}
                        <p class="fs-6">
                            <i class="fa-solid fa-layer-group fa-xs text-teal"></i>   
                            {{value.comment}} 
                        </p>  
                        {% endautoescape %}
                    {% if not forloop.last %}
                    <hr class="light-narrow-hr">
                    {% endif %}

                {% endfor %}     
            </div>
            {% else %}
                <span class="text-secondary">- Nothing coded yet.</span>
            </div>
            {% endif %}
        {% endif %}


    {% endfor %}

    <div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <h1 class="pt-2 display-4" style="text-align: left; color:#893101;" id="crisis_case_var">
                    <span class="h1"><i class="fa-solid fa-circle-arrow-down fa-sm"></i> Crisis Cases</span>
                </h1>
            </div>
            <div class="col-md-6 pt-5 pb-4">
                <a href="{% url 'crisis_consequences_all' %}" class="btn float-end fw-light">
                    View <b>all</b> Crisis Consequences <i class="fa-solid fa-list"></i>
                </a>
            </div>
        </div>
         
        <div class="py-2 custom-left-border-shadowed">

        {% for key, values in all_crisis_cases_data.items %}
        {% if values and 'core.view_capital' in user.get_all_permissions %}
            <div class="py-2"  id="{{key}}">
                    {% for value in values %}
                        <span class="pt-1 fs-5 pb-1 fw-bold" id="{{key}}"> 
                            <i class="fa-solid fa-star fa-2xs"></i>
                            {{ value.crisis_case_id }} :            
                        </span> 
                        <br>
                    <span class="fs-4 fw-bold text-teal pt-2 pb-1 pe-2 ps-2 ms-2 me-2 mb-3 mt-1 highlighted-value">{{value.name}} 
                        {% include "core/partials/_year_block_value_inline.html" %}
                        <div style="display: block; padding: 0;">
                            <div style="display: inline-flex; flex-direction: row;">
                                {% if value.is_first_100 == True %}
                                <a type="button" class="fs-6">
                                    <span class="badge rounded-pill bg-warning text-dark tag-border">
                                        First 100
                                    </span>
                                </a>
                                
                                {% endif %}
                                {% include "core/partials/_tag_value_inline.html" %}
                                   
                                {% include "core/partials/_disputed_value_inline.html" %}
                                {% include "core/partials/_expert_checked_value_inline.html" %}
                                <a class="p-0 m-0 fs-6" href="{% url 'crisis_consequence-update' value.id %}">
                                    <span class="badge rounded-pill bg-danger tag-border"> <i class=" fa-solid fa-pen-to-square text-white"></i></span>
                                </a>                  
                            </div>
                        </div>
                    </span>
                    {% include "core/partials/_crisis_cases_inline.html" %}
                        {% if not forloop.last %}
                        <hr class="light-narrow-hr">
                        {% endif %}
                    {% endfor %}                            
                </div>
            {% else %}
                    <span class="text-secondary">- Nothing coded yet.</span>
                </div>
            {% endif %}
            {% endfor %}
            
    </div>  


    <div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <h1 class="pt-2 display-4" style="text-align: left; color:#893101;" id="crisis_case_var">
                    <span class="h1"><i class="fa-solid fa-circle-arrow-down fa-sm"></i> Power Transitions</span>
                </h1>
            </div>
            <div class="col-md-6 pt-5 pb-4">
                <a href="{% url 'power_transitions_all' %}" class="btn float-end fw-light">
                    View <b>all</b> Power Transitions <i class="fa-solid fa-list"></i>
                </a>
            </div>
        </div>
         
        <div class="py-2 custom-left-border-shadowed">

        {% for key, values in all_power_transitions_data.items %}
        {% if values and 'core.view_capital' in user.get_all_permissions %}
            <div class="py-2"  id="{{key}}">
                    {% for value in values %}
                        <span class="pt-1 fs-5 pb-1 fw-bold" id="{{key}}"> 
                            <i class="fa-solid fa-star fa-2xs"></i>
                            <span class="h5">Power Transition in 
                                <span class = "fw-bold text-teal">{{ value.polity }}:</span>
                            </span>            
                        </span> 
                        <br>
                        <span class="fs-4 fw-bold text-teal pt-2 pb-1 pe-2 ps-2 ms-2 me-2 mb-3 mt-1 highlighted-value">
                            <span class = "fw-bold text-danger">
                                {{ value.predecessor }}
                            </span> 
                            <span class="text-dark">
                                <i class="fa-solid fa-arrow-right-long fa-sm"></i> 
                            </span> 
                            <span class = "fw-bold text-teal">
                                {{ value.successor }}
                            </span>
                            {% include "core/partials/_year_block_value_inline.html" %}
                            <div style="display: block; padding: 0;">
                                <div style="display: inline-flex; flex-direction: row;">
                                    {% include "core/partials/_tag_value_inline.html" %}
                                    {% include "core/partials/_disputed_value_inline.html" %}
                                    {% include "core/partials/_expert_checked_value_inline.html" %}
                                    <a class="p-0 m-0 fs-6" href="{% url 'power_transition-update' value.id %}">
                                        <span class="badge rounded-pill bg-danger"> <i class=" fa-solid fa-pen-to-square text-white"></i></span>
                                    </a>                  
                                </div>
                            </div>
                        </span>
                        {% include "core/partials/_power_transitions_inline.html" %}
                        {% if not forloop.last %}
                        <hr class="light-narrow-hr">
                        {% endif %}
                    {% endfor %}                            
                </div>
                {% else %}
                    <span class="text-secondary">- Nothing coded yet.</span>
                </div>
            {% endif %}
            {% endfor %}
            
    </div>  
</div>





<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
</script>

{% endblock content%}