{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row d-flex align-items-center mb-2">
                <div class="col-md-8">
                    <h2 class="fw-bold">{{ object.long_name }}: <span class="text-primary h3">({{ object.new_name }})</span></h2>
                    <h5 class="fw-bold pt-2">Home NGA: <span class="text-secondary">({{ object.home_nga }})</span></h5>

                </div>
                <div class="col-md-2">    
                    <a href="{% url 'polity-update' object.pk  %}" class="btn btn-outline-danger mx-3 my-2 float-end"><i class="fa-regular fa-pen-to-square"></i> &nbsp; Edit This Polity</a>
                </div>
                <div class="col-md-2">    
                    <a href="{% url 'polities' %}" class="btn btn-outline-success mx-3 my-2 float-end"><i class="fa-solid fa-list-ul"></i> &nbsp; See All Polities</a>
                </div>
            </div>
            <h6 class="text-secondary">* A polity is defined as an independent political unit. Kinds of polities range from villages (local
                communities) through simple and complex chiefdoms to states and empires.</h6>
            <h6 class="text-secondary">* A polity can be either centralized or not (e.g., organized as a confederation). For those periods when a region is divided up among a multitude of small-scale polities (e.g., independent villages or even many small chiefdoms) or when it is controlled in quick succession by a number of different regimes, we use the concept of 'quasi-polity'.</h6>
            <hr>
            <div class="col-md-9">
                <h3 class="fw-bold pb-2"> <i class="fa-solid fa-circle-right"></i> General Variables: &nbsp; <a href="#general_var"><i class="fa-solid fa-magnifying-glass"></i></a></h3>
            </div>
            <div class="row px-3">
                <div class="table-responsive mb-4 col-md-9">
                    <table id="table_id" class="table align-middle table-striped table-bordered">
                        <tbody>
                        {% for key, values in all_general_data.items %}
                        {% if values %}
                        <tr class="row col-md-12">
                            <td class="col-md-4 fw-bold" style="text-align: right;">{{values.0.clean_name_spaced|slice:"7:"}} &nbsp;</td>
                            <td class="col-md-8" style="text-align: left;">
                            {% for vv in values %}
                                    {% if forloop.counter0 > 0 %}
                                   <span class="text-secondary">&</span>
                                    {% endif %}
                                    <span class="h6 text-teal">{{ vv.show_value }}</span> 
                            {% endfor %}
                            <a class="h6" href="#{{key}}"> &nbsp;<i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-9">
                <h3 class="fw-bold pb-2 pt-3"> <i class="fa-solid fa-circle-right"></i> Social Complexity Variables: &nbsp; <a href="#sc_var"><i class="fa-solid fa-magnifying-glass"></i></a></h3>
            </div>
            <div class="row px-3">
                <div class="table-responsive mb-4 col-md-9">
                    <table id="table_id" class="table align-middle table-striped table-bordered">
                        <tbody>
                        {% for key, values in all_sc_data.items %}
                        {% if values %}
                        <tr class="row col-md-12">
                            <td class="col-md-4 fw-bold" style="text-align: right;">{{values.0.clean_name_spaced}} &nbsp;</td>
                            <td class="col-md-8" style="text-align: left;">
                            {% for vv in values %}
                                    {% if forloop.counter0 > 0 %}
                                   <span class="text-secondary">&</span>
                                    {% endif %}
                                    <span class="h6 text-teal">{{ vv.show_value }}</span> 
                            {% endfor %}
                            <a class="h6" href="#{{key}}"> &nbsp;<i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-9">
                <h3 class="fw-bold pb-2 pt-3"> <i class="fa-solid fa-circle-right"></i> Warfare Variables (Military Technologies): &nbsp; <a href="#wf_var"><i class="fa-solid fa-magnifying-glass"></i></a></h3>
            </div>
            <div class="row px-3">
                <div class="table-responsive mb-4 col-md-9">
                    <table id="table_id" class="table align-middle table-striped table-bordered">
                        <tbody>
                        {% for key, values in all_wf_data.items %}
                        {% if values %}
                        <tr class="row col-md-12">
                            <td class="col-md-4 fw-bold" style="text-align: right;">{{values.0.clean_name_spaced}} &nbsp;</td>
                            <td class="col-md-8" style="text-align: left;">
                            {% for vv in values %}
                                    {% if forloop.counter0 > 0 %}
                                   <span class="text-secondary">&</span>
                                    {% endif %}
                                    <span class="h6 text-teal">{{ vv.show_value }}</span> 
                            {% endfor %}
                            <a class="h6" href="#{{key}}"> &nbsp;<i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


          
        </div>
        <div class="table-responsive mb-4">
            <h4 class="mt-4">
                NGA Settlements:
            </h4>
            <h6 class="text-secondary">* NGA (Natural Geographic Area) is defined spatially by the area enclosed within a boundary drawn on the world map.</h6>
            <h6 class="text-secondary">* It does not change with time.</h6>
            <h6 class="text-secondary">* Its rough spatial scale is 100 km × 100 km (+/- 50%). Examples: Latium, Upper Egypt, Middle Yellow River Valley.</h6>
            <table class="table align-middle table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-secondary" style="text-align: center">#</th>
                    <th scope="col" class="text-secondary" style="text-align: center">Years</th>
                    <th scope="col">NGA(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for concise_rel in nga_pol_rel.items %}
                <tr>
                    <td class="text-secondary" style="text-align: center" scope="row">{{ forloop.counter }}</td>

                    {% include "core/partials/_year_block_nga.html" %}

                    <td class="text-success fw-bold">
                        | &nbsp; &nbsp;
                        {% for nga in concise_rel.1 %}
                        {{ nga.name }}  &nbsp; &nbsp; | &nbsp; &nbsp; 
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div>
        <hr class="bg-colorful-vertical  mt-5">
        <h1 class="fw-light pt-2 display-4" style="text-align: left;" id="general_var"> General Variables:</h1>
        <hr class="bg-colorful-vertical-bottom">
        {% for key, values in all_general_data.items %}
        {% if values %}
        <h4 class="pt-4 pb-2 text-teal" id="{{key}}"> <i class="fa-solid fa-circle-chevron-right"></i> {{ values.0.clean_name_spaced|slice:"7:" }}:</h4>

        <div class="table-responsive mb-4">
            <table id="table_id" class="table align-middle table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center" class="fw-bold"> Year(s)</th>
                        <!-- headings for extra vars -->
                        <th class = "fw-bold" style="text-align: center;" scope="col">{{values.0.clean_name_spaced|slice:"7:"}} 
                            </th>
                        {% include "core/partials/_confidence_disputed_expert.html" %}
                        <th scope="col" style="text-align: center" class="fw-light"><i class="fa-regular fa-comment-dots"></i></th>
                        <th scope="col" style="text-align: center" class="fw-light">Edit</th>
                      </tr>
                </thead>
                <tbody>
                {% for value in values %}
                <tr>
                    {% include "core/partials/_year_block_value.html" %}
                    <td class="col-md-3 fw-bold text-teal" style="text-align: center;"> {{value.show_value}}  </td>
                    {% include "core/partials/_tag_value.html" %}
                    {% include "core/partials/_disputed_value.html" %}
                    {% include "core/partials/_expert_checked_value.html" %}
                    <td class="col-md-3" style="text-align: center;">
                        {% if value.comment %}
                        {{value.comment}}
                        {% else %}
                        <span class="text-secondary">Coming Soon ...</span>
                        {% endif %}
                    </td>
                    <td  style="text-align: center;"> <a href="{% url key|lower|add:'-update' value.id %}"><i class="fa-solid fa-pen-to-square text-danger"></i></a> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endfor %}

    </div>


    <div>
        <hr class="bg-colorful-vertical mt-5">
        <h1 class="fw-light pt-2 display-4" style="text-align: left;" id="sc_var"> Social Complexity Variables:</h1>
        <hr class="bg-colorful-vertical-bottom">
        {% for key, values in all_sc_data.items %}
        {% if values %}
        <h4 class="pt-4 pb-2 text-teal" id="{{key}}"> <i class="fa-solid fa-circle-chevron-right"></i> {{ values.0.clean_name_spaced }}:</h4>

        <div class="table-responsive mb-4">
            <table id="table_id" class="table align-middle table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center" class="fw-bold"> Year(s)</th>
                        <!-- headings for extra vars -->
                        <th class = "fw-bold" style="text-align: center;" scope="col">{{values.0.clean_name_spaced}} 
                            </th>
                        {% include "core/partials/_confidence_disputed_expert.html" %}
                        <th scope="col" style="text-align: center" class="fw-light"><i class="fa-regular fa-comment-dots"></i></th>
                        <th scope="col" style="text-align: center" class="fw-light">Edit</th>
                      </tr>
                </thead>
                <tbody>
                {% for value in values %}
                <tr>
                    {% include "core/partials/_year_block_value.html" %}
                    <td class="col-md-3 fw-bold text-teal" style="text-align: center;"> {{value.show_value}}  </td>
                    {% include "core/partials/_tag_value.html" %}
                    {% include "core/partials/_disputed_value.html" %}
                    {% include "core/partials/_expert_checked_value.html" %}
                    <td class="col-md-3" style="text-align: center;">
                        {% if value.comment %}
                        {{value.comment}}
                        {% else %}
                        <span class="text-secondary">Coming Soon ...</span>
                        {% endif %}
                    </td>
                    <td  style="text-align: center;"> <a href="{% url key|lower|add:'-update' value.id %}"><i class="fa-solid fa-pen-to-square text-danger"></i></a> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endfor %}

    </div>

    <div>
        <hr class="bg-colorful-vertical mt-5">
        <h1 class="fw-light pt-2 display-4" style="text-align: left;" id="wf_var"> Warfare Variables (Military Technologies):</h1>
        <hr class="bg-colorful-vertical-bottom">
        {% for key, values in all_wf_data.items %}
        {% if values %}
        <h4 class="pt-4 pb-2 text-teal" id="{{key}}"> <i class="fa-solid fa-circle-chevron-right"></i> {{ values.0.clean_name_spaced }}:</h4>

        <div class="table-responsive mb-4">
            <table id="table_id" class="table align-middle table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center" class="fw-bold"> Year(s)</th>
                        <!-- headings for extra vars -->
                        <th class = "fw-bold" style="text-align: center;" scope="col">{{values.0.clean_name_spaced}} 
                            </th>
                        {% include "core/partials/_confidence_disputed_expert.html" %}
                        <th scope="col" style="text-align: center" class="fw-light"><i class="fa-regular fa-comment-dots"></i></th>
                        <th scope="col" style="text-align: center" class="fw-light">Edit</th>
                      </tr>
                </thead>
                <tbody>
                {% for value in values %}
                <tr>
                    {% include "core/partials/_year_block_value.html" %}
                    <td class="col-md-3 fw-bold text-teal" style="text-align: center;"> {{value.show_value}}  </td>
                    {% include "core/partials/_tag_value.html" %}
                    {% include "core/partials/_disputed_value.html" %}
                    {% include "core/partials/_expert_checked_value.html" %}
                    <td class="col-md-3" style="text-align: center;">
                        {% if value.comment %}
                        {{value.comment}}
                        {% else %}
                        <span class="text-secondary">Coming Soon ...</span>
                        {% endif %}
                    </td>
                    <td  style="text-align: center;"> <a href="{% url key|lower|add:'-update' value.id %}"><i class="fa-solid fa-pen-to-square text-danger"></i></a> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endfor %}

    </div>


    {% for key, values in all_data.items %}
    {% if "Human_sacrifice_for_polity" == key %}
    <h4 class="mt-4">Human Sacrifice Data</h4>
    <h6><span> <i class="fa-solid fa-caret-right"></i> Human Sacrifice is the deliberate and ritualized killing of a person to please or placate supernatural entities (including gods, spirits, and ancestors) or gain other supernatural benefits. </span></h6>
            <div class="table-responsive mb-4">
                <table id="table_id" class="table align-middle table-striped table-bordered">
                    {% if values %}
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center" class="fw-light"> Year(s)</th>
                            <!-- headings for extra vars -->
                            <th class = "fw-normal" style="text-align: center;" scope="col">Human Sacrifice</th>
                            <th scope="col" style="text-align: center" class="fw-light">Confidence
                            </th>
                            <th class = "fw-bold" style="text-align: center;" scope="col"> Disputed?
                                <sup>
                                    <span type="button"  tabindex="0" data-bs-toggle="popover" title="Disputed?" data-bs-html="true" data-bs-trigger="focus" data-bs-content='<b class="text-success">No</b>: No disagreement among scholars. <br> <b class="text-danger">Yes</b> : There is disagreement among scholars.'>&nbsp;<i class="fa-regular fa-circle-question"></i></span>
                                </sup>
                            </th>
                            <th class = "fw-bold" style="text-align: center;" scope="col"> Expert?
                                <sup>
                                    <span type="button"  tabindex="0" data-bs-toggle="popover" title="Expert? (Expert Checked)" data-bs-html="true" data-bs-trigger="focus" data-bs-content='<i class="fa-solid fa-xmark text-danger"></i> : Not yet Checked by a Seshat Expert. <br> <i class="fa-solid fa-check text-success"></i> : Checked and accepted by a Seshat Expert (or RA).'>&nbsp;<i class="fa-regular fa-circle-question"></i></span>
                                </sup>
                            </th>
                            <th class = "fw-bold" style="text-align: center;" scope="col"> DRB?
                                <sup>
                                    <span type="button"  tabindex="0" data-bs-toggle="popover" title="DRB? (Data Review Board)" data-bs-html="true" data-bs-trigger="focus" data-bs-content='<i class="fa-regular fa-circle-xmark text-danger"></i> : Not yet Reviewed by Seshat Data Review Board. <br> <i class="fa-solid fa-circle-check text-success"></i> : Data Review Board has reviewed and accepted this value.'>&nbsp;<i class="fa-regular fa-circle-question"></i></span>
                                </sup>
                            </th>
                            <th scope="col" style="text-align: center" class="fw-light">Description</th>
                            <th scope="col" style="text-align: center" class="fw-light">Edit</th>

                          </tr>
                    </thead>
                    {% endif %}

                    <tbody>
                    {% for value in values %}
                    <tr>
                        {% include "core/partials/_year_block_value.html" %}

                        {% with "value.get_human_sacrifice_display" as xyz %}
                        {% include "core/partials/_for_polity.html" with meat=xyz %}
                        {% endwith %}
                    {% include "core/partials/_tag_value.html" %}
                    {% include "core/partials/_disputed_value.html" %}
                    {% include "core/partials/_expert_drb_checked_value.html" %}

                    {% autoescape off %}
                    <td class="col-md-5" style="text-align: left;"> {{value.comment}}  </td>
                    {% endautoescape %}
                    {% with "human_sacrifice-update" as updatemeaty %}
                        {% include "core/partials/_for_polity_edit.html" with meat=updatemeaty %}
                    {% endwith %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            {% endif %}

    {% endfor %}

    <div class="row">
        <div id="chart1"></div>
    </div>
</div>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
</script>

{% endblock content%}