{% for key, values in all_data.items %}
{% if "Human_sacrifice_for_polity" == key %}

<h1 class="pt-2 display-4" style="text-align: left;  color:#893101;" id="hs_var">
    <span class="h1">
        <i class="fa-solid fa-circle-arrow-down fa-sm"></i> Human Sacrifice Data
    </span>
</h1>
<h6>
    <span> 
        <i class="fa-solid fa-caret-right"></i> Human Sacriiiiiiifice is the deliberate and ritualized killing of a person to please or placate supernatural entities (including gods, spirits, and ancestors) or gain other supernatural benefits. 
    </span>
</h6>
<div class="py-2 custom-left-border-shadowed">
    <div class="row d-flex">
        <div class="col-md-6">
            <span class="pt-1 fs-5 pb-1 fw-bold" id="{{key}}"> 
                <i class="fa-solid fa-star fa-2xs"></i>
                Human Sacrifice:            
            </span> 
        </div>
        <div class="col-md-6">
            <a href="{% url 'human_sacrifices_all' %}" class="btn float-end fw-light">View <b>all</b> Human Sacrifices <i class="fa-solid fa-list"></i></a>
        </div>
    </div>
            {% for value in values %}
            <span class="fs-4 fw-bold text-teal pt-2 pb-1 pe-2 ps-2 ms-2 me-2 mb-1 mt-1 highlighted-value">{{value.show_value}} 
                {% include "core/partials/_year_block_value_inline.html" %}
                <div style="display: block; padding: 0;">
                    <div style="display: inline-flex; flex-direction: row;">
                        {% include "core/partials/_tag_value_inline.html" %}
                        {% include "core/partials/_disputed_value_inline.html" %}
                        {% include "core/partials/_expert_checked_value_inline.html" %}
                        {% include "core/partials/_drb_checked_value_inline.html" %}

                        <a class="p-0 m-0 fs-6" type="button" href="{% url 'human_sacrifice-update' value.id %}">
                            <span class="badge rounded-pill bg-danger"> 
                                <i class=" fa-solid fa-pen-to-square text-white"></i>
                            </span>
                        </a>     
                        <a class="p-0 m-0 fs-6" href="{% url 'seshatcomment-update' value.comment.id %}">
                            <span class="badge rounded-pill bg-secondary"> 
                                <i class=" fa-solid fa-pen-to-square text-white"></i> Description
                            </span>
                        </a>             
                    </div>
                </div>
            <br>
                {% autoescape off %}
                <p class="fs-6">
                    <i class="fa-solid fa-layer-group fa-xs text-teal"></i>   
                    {{value.comment}} 
                </p>  
                {% endautoescape %}
        </span>
        {% if not forloop.last %}
        <hr class="light-narrow-hr">
        {% endif %}

        {% endfor %}     
        </div>
        {% endif %}

{% endfor %}