{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <h6 class="lead-2 text-secondary pt-4">List of all:</h6>
    <h2>Polities</h2>
    <h6 class="text-secondary">* A polity is defined as an independent political unit. Kinds of polities range from villages (local
        communities) through simple and complex chiefdoms to states and empires.</h6>
    <h6 class="text-secondary pb-3">* A polity can be either centralized or not (e.g., organized as a confederation). For those periods when a region is divided up among a multitude of small-scale polities (e.g., independent villages or even many small chiefdoms) or when it is controlled in quick succession by a number of different regimes, we use the concept of 'quasi-polity'.</h6>
    {% if messages %}
    <ul class="messages mt-3">
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <i class="fa-solid fa-circle-info"></i> Thank you <b>{{ user }}</b>. {{ message }}
            </div>
        </div>
        {% endfor %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="container-fluid p-0">
          <div class="text-danger" role="alert" >
            <i class="fa-solid fa-triangle-exclamation"></i>  {{ error }}
          </div>
        </div>
        {% endfor %}
        <hr> 
        {% endif %}
    </ul>
    <hr>
    {% endif %}
    <div class="table-responsive pb-5">
        <table id="table_id_3" class="table align-middle table-striped">
            <thead>
            </thead>
            <tbody>
                {% for a_world_region, a_dic_of_subregions in ultimate_wregion_dic.items %}
                <tr>
                    <td> 
                        <a class="fw-bold" href="#{{a_world_region}}"> 
                            {% if a_world_region == "Europe" %}
                            <i class="fa-solid fa-earth-europe"></i>
                            {% elif a_world_region == "Africa" %}
                            <i class="fa-solid fa-earth-africa"></i>
                            {% elif a_world_region == "Southwest Asia" or a_world_region == "Southeast Asia" or a_world_region == "Central Eurasia" or a_world_region == "East Asia" or a_world_region == "South Asia" %}
                            <i class="fa-solid fa-earth-asia"></i>
                            {% elif a_world_region == "Oceania-Australia" %}
                            <i class="fa-solid fa-earth-oceania"></i>
                            {% elif a_world_region == "North America" or a_world_region == "South America" %}
                            <i class="fa-solid fa-earth-americas"></i>
                            {% else %}
                            <i class="fa-solid fa-map-location-dot"></i>        
                            {% endif %}
                            {{ a_world_region }}
                        </a>
                    </td>
                    <td>
                        {% for a_subregion, a_list_of_polities in a_dic_of_subregions.items %}
                        {% if forloop.counter0 > 0 %}
                        &nbsp; <i class="fa-solid fa-minus"></i> &nbsp;
                        {% endif %}
                        <a class="fw-bold" href="#{{a_subregion}}"> 
                            {{ a_subregion }}
                        </a>                       
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    {% for a_world_region, a_dic_of_subregions in ultimate_wregion_dic.items %}
        {% if forloop.counter0 > 0 %}
    <div class="text-success py-2" id="{{a_world_region}}"><i class="fa-solid fa-up-long"></i><a href="#">&nbsp; top of the page</a>
    </div>
    {% endif %}

    <h2 class="display-5 pt-3"> 
        {% if a_world_region == "Europe" %}
        <i class="fa-solid fa-earth-europe"></i>
        {% elif a_world_region == "Africa" %}
        <i class="fa-solid fa-earth-africa"></i>
        {% elif a_world_region == "Southwest Asia" or a_world_region == "Southeast Asia" or a_world_region == "Central Eurasia" or a_world_region == "East Asia" or a_world_region == "South Asia" %}
        <i class="fa-solid fa-earth-asia"></i>
        {% elif a_world_region == "Oceania-Australia" %}
        <i class="fa-solid fa-earth-oceania"></i>
        {% elif a_world_region == "North America" or a_world_region == "South America" %}
        <i class="fa-solid fa-earth-americas"></i>
        {% else %}
        <i class="fa-solid fa-map-location-dot"></i>        
        {% endif %}
        {{ a_world_region }}
    </h2>
    {% for a_subregion, a_list_of_polities in a_dic_of_subregions.items %}
    <div class="pb-3" id="{{a_subregion}}"></div>
    <h2 class="text-success pt-5"><i class="fa-solid fa-circle-chevron-right"></i> {{ a_subregion }}:</h2>
    {% if a_list_of_polities %}
    <div class="table-responsive">
    <table id="table_id" class="table align-middle table-striped">
        <thead>
          <tr>
            <th></th>
            <th> <i class="fa-solid fa-circle-chevron-right"></i> &nbsp; Polity</th>
            <th> <i class="fa-regular fa-calendar-check"></i> &nbsp; Year Range</th>
            <th  class="text-secondary" style="text-align: center;"> Old Wiki Link</th>
          </tr>
        </thead>
        <tbody>
                {% for a_polity in a_list_of_polities %}
                <tr>

                <td class="col-md-1"></td>
                {% if a_polity.long_name %}
                <td class="col-md-6" style="text-align: left;"> <span class="fw-bold"><i class="fa-solid fa-caret-right text-success"></i>&nbsp; {{ a_polity.long_name }} &nbsp; </span>
                    {% if a_polity.new_name %}
                    (<a href="{% url 'polity-detail-main' a_polity.id %}"><b>{{ a_polity.new_name }}</b></a>) 
                    {% else %}
                    (<a href="{% url 'polity-detail-main' a_polity.id %}"><b>{{ a_polity.name }}</b></a>) 
                    <span class="text-danger">NEW Polity ID Missing</span>  
                    <a href="{% url 'polity-update' a_polity.id %}"><span class="badge bg-small bg-warning text-dark">click to update</span></a>
                    {% endif %}

                </td>
                {% else %}
                <td style="text-align: left;"> <span class="text-danger">No_Long_Name</span> <a href="{% url 'polity-update' a_polity.id %}"><span class="badge bg-small bg-warning text-dark">EDIT</span></a> (<a href="{% url 'polity-detail-main' a_polity.id %}">{{ a_polity.name }}</a>)</td>
                {% endif %}
                <td class="col-md-2 fw-bold">
                    {% block years_short_for_top_pol %}
                    {% if  a_polity.start_year == a_polity.end_year %}
                        {% if  a_polity.start_year < 0 %}
                            {{ a_polity.start_year|abs|intcomma }} <span class="text-secondary fw-normal">BCE</span> 
                        {% else %}
                            {{ a_polity.start_year|intcomma }} <span class="text-secondary fw-normal">CE</span>
                        {% endif %}
                    {% elif a_polity.end_year == None %}
                        {% if  a_polity.start_year < 0 %}
                            {{ a_polity.start_year|abs|intcomma }} <span class="text-secondary fw-normal">BCE</span>
                        {% else %}
                            {{ a_polity.start_year|intcomma }} <span class="text-secondary fw-normal">CE</span>
                        {% endif %}
                    {% elif a_polity.end_year == None and  a_polity.start_year == None %}
                        <i class="fa-solid fa-minus"></i> 
                    {% else %}
                        {% if  a_polity.start_year < 0 and a_polity.end_year < 0 %}
                            {{ a_polity.start_year|abs|intcomma }} <span class="text-secondary fw-normal">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ a_polity.end_year|abs|intcomma }} <span class="text-secondary fw-normal">BCE</span>
                        {% elif  a_polity.start_year < 0 and a_polity.end_year >= 0 %}
                            {{ a_polity.start_year|abs|intcomma }} <span class="text-secondary fw-normal">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ a_polity.end_year|intcomma }} <span class="text-secondary fw-normal">CE</span>
                        {% else %}
                            {{ a_polity.start_year|intcomma }} <span class="text-secondary fw-normal">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ a_polity.end_year|intcomma }} <span class="text-secondary fw-normal">CE</span>
                        {% endif %}
                    {% endif %}
                    {% endblock years_short_for_top_pol %}
                </td>
                <td class="col-md-2"  style="text-align: center;"> <a href='http://seshatdatabank.info/browser/{{ a_polity.name }}' target="_blank"> <i class="fa-solid fa-arrow-up-right-from-square"></i> {{ a_polity.name }}</a></td>

            </tr>
            {% endfor %}

        </tbody>
      </table>
      {% else %}
      <div class="row">
          <div class="col-md-12 mt-4">
              <h3> <i class="fa-solid fa-triangle-exclamation"></i> There are no Polities in the Database.</h3>
          </div>
      </div>
      {% endif %}
      </div>
      {% endfor %}

    {% endfor %}

  {% endblock %}



