{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}


{% block content %}


<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <h3> <span class="text-secondary"> Polity: </span>{{ object.long_name }} ({{ object.name }})</h3>
            <h5> <span class="text-secondary"> from: </span> {{ object.start_year }} to  {{ object.end_year }}</h5>

            <h6 class="text-secondary">* A polity is defined as an independent political unit. Kinds of polities range from villages (local
                communities) through simple and complex chiefdoms to states and empires.</h6>
            <h6 class="text-secondary">* A polity can be either centralized or not (e.g., organized as a confederation). For those periods when a region is divided up among a multitude of small-scale polities (e.g., independent villages or even many small chiefdoms) or when it is controlled in quick succession by a number of different regimes, we use the concept of 'quasi-polity'.</h6>

        </div>
        <div class="table-responsive mb-4">
            <h4 class="mt-4">
                NGA Settlements:
            </h4>
            <h6 class="text-secondary">* NGA (Natural Geographic Area) is defined spatially by the area enclosed within a boundary drawn on the world map.</h6>
            <h6 class="text-secondary">* It does not change with time.</h6>
            <h6 class="text-secondary">* Its rough spatial scale is 100 km × 100 km (+/- 50%). Examples: Latium, Upper Egypt, Middle Yellow River Valley.</h6>
            <table class="table align-middle table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-secondary" style="text-align: center">#</th>
                    <th scope="col" class="text-secondary" style="text-align: center">Years</th>
                    <th scope="col">NGA(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for concise_rel in nga_pol_rel.items %}
                <tr>
                    <td class="text-secondary" style="text-align: center" scope="row">{{ forloop.counter }}</td>

                    {% block years_short_for_nga_pol_rels %}
                    {% if concise_rel.0.0 == concise_rel.0.1 %}
                    {% if concise_rel.0.0 < 0 %}
                    <td style="text-align: center;">{{concise_rel.0.0|abs }} <span class="text-secondary">BCE</span> </td>
                    {% else %}
                    <td style="text-align: center;">{{concise_rel.0.0 }} <span class="text-secondary">CE</span></td>
                    {% endif %}
                {% elif concise_rel.0.1 == None %}
                    {% if concise_rel.0.0 < 0 %}
                    <td style="text-align: center;">{{concise_rel.0.0|abs }} <span class="text-secondary">BCE</span></td>
                    {% else %}
                    <td style="text-align: center;">{{concise_rel.0.0 }} <span class="text-secondary">CE</span></td>
                    {% endif %}
                {% elif concise_rel.0.1 == None and concise_rel.0.0 == None %}
                    <td style="text-align: center;"> <i class="fa-solid fa-minus"></i> </td>
                {% else %}
                    {% if concise_rel.0.0 < 0 and concise_rel.0.1 < 0 %}
                    <td style="text-align: center;">{{concise_rel.0.0|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ concise_rel.0.1|abs }} <span class="text-secondary">BCE</span></td>
                    {% elif concise_rel.0.0 < 0 and concise_rel.0.1 >= 0 %}
                    <td style="text-align: center;">{{concise_rel.0.0|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ concise_rel.0.1 }} <span class="text-secondary">CE</span></td>
                    {% else %}
                    <td style="text-align: center;">{{concise_rel.0.0 }} <span class="text-secondary">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ concise_rel.0.1 }} <span class="text-secondary">CE</span></td>
                    {% endif %}
                {% endif %}
                    {% endblock years_short_for_nga_pol_rels %}
                    <td class="text-success fw-bold">
                        | &nbsp; &nbsp;
                        {% for nga in concise_rel.1 %}
                        {{ nga.name }}  &nbsp; &nbsp; | &nbsp; &nbsp; 
                        {% endfor %}

                    </td>



                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% for key, values in vars.items %}
                <h6>{{ key }}: </h6> 
                    {% for kk, vv in values.items %}
                      <p>In year {{ vv.0 }}, the value of {{ key }} was: {{ vv.1 }}.</p> 
                    {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% for key, values in all_data.items %}
    {% if "Human_sacrifice_for_polity" == key %}
    <hr>
    <h4 class="mt-3">{{key}}: </h4>
    <h6 class="text-secondary"> <span><u>What is Human Sacrifice?</u></span>  </h6>
    <h6><span> <i class="fa-solid fa-caret-right"></i> Human Sacrifice is the deliberate and ritualized killing of a person to please or placate supernatural entities (including gods, spirits, and ancestors) or gain other supernatural benefits.  </span></h6>
    {% endif %}

    <div class="table-responsive mb-4">
        <table id="table_id" class="table align-middle table-striped table-bordered">
            {% if values %}
            <thead>
                <tr>
                    <th scope="col" class="text-secondary">#</th>
                    <th scope="col" style="text-align: center" class="fw-light"> Polity</th>
                    <th scope="col" style="text-align: center" class="fw-light"> Year(s)</th>
                    <!-- headings for extra vars -->
                    {% if "Human_sacrifice_for_polity" == key %}
                        {% include "crisisdb/human_sacrifice/human_sacrifice_for_polity_header.html" %}
                    {% endif %}
                    <th scope="col" style="text-align: center" class="fw-light">Tag
                        <sup>
                            <span type="button" data-bs-toggle="popover" data-bs-html="true" data-bs-content="The tag shows whether the input data is Trusted, Disputed, Suspected, Inferred, or Unknown.">&nbsp;<i class="far fa-question-circle" style="color:dimgrey"></i></span>
                        </sup>
                    </th>
                    <th scope="col" style="text-align: center" class="fw-light">Checked</th>
                  </tr>
            </thead>
            {% endif %}

            <tbody>
            {% for value in values %}
            <tr>
                <td class="text-secondary" scope="row">{{ forloop.counter }}</td>
                {% if value.polity %}
                <td style="text-align: center;" class="text-success fw-bold">{{ value.polity.name }}</td>
                {% else %}
                <td style="text-align: center;">-</td>
                {% endif%}
                {% block years_short %}
                {% if value.year_from == value.year_to %}
                {% if value.year_from < 0 %}
                <td style="text-align: center;">{{ value.year_from|abs }} <span class="text-secondary">BCE</span> </td>
                {% else %}
                <td style="text-align: center;">{{ value.year_from }} <span class="text-secondary">CE</span></td>
                {% endif %}
            {% elif value.year_to == None %}
                {% if value.year_from < 0 %}
                <td style="text-align: center;">{{ value.year_from|abs }} <span class="text-secondary">BCE</span></td>
                {% else %}
                <td style="text-align: center;">{{ value.year_from }} <span class="text-secondary">CE</span></td>
                {% endif %}
            {% elif value.year_to == None and value.year_from == None %}
                <td style="text-align: center;"> <i class="fa-solid fa-minus"></i> </td>
            {% else %}
                {% if value.year_from < 0 and value.year_to < 0 %}
                <td style="text-align: center;">{{ value.year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to|abs }} <span class="text-secondary">BCE</span></td>
                {% elif value.year_from < 0 and value.year_to >= 0 %}
                <td style="text-align: center;">{{ value.year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to }} <span class="text-secondary">CE</span></td>
                {% else %}
                <td style="text-align: center;">{{ value.year_from }} <span class="text-secondary">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to }} <span class="text-secondary">CE</span></td>
                {% endif %}
            {% endif %}
                {% endblock years_short %}
                {% if "Human_sacrifice_for_polity" == key %}
                    {% include "crisisdb/human_sacrifice/human_sacrifice_for_polity.html" %}
                {% endif %}
            <!-- Tag tag (Disputed/Suspected etc.) -->
            {% if value.tag == "DSP" %}
                <td style="text-align: center;"><span class="badge rounded-pill bg-danger">{{ value.get_tag_display }}</span>
            {% elif  value.tag == "SSP" %}
                <td style="text-align: center;"> <span class="badge rounded-pill bg-warning text-dark">{{ value.get_tag_display }}</span>
            {% elif  value.tag == "UNK" %}
                <td style="text-align: center;"><span class="badge rounded-pill bg-secondary">{{ value.get_tag_display }}</span>
            {% elif  value.tag == "IFR" %}
                <td style="text-align: center;"><span class="badge rounded-pill bg-primary">{{ value.get_tag_display }}</span>
            {% else  %}
                <td style="text-align: center;"><span class="badge rounded-pill bg-success">{{ value.get_tag_display }}</span>
            {% endif %}
            {% if value.display_citations %}
            <sup>
                <span type="button"  tabindex="0" data-bs-toggle="popover" title="Refs:" data-bs-html="true" data-bs-trigger="focus" data-bs-content="{{ value.display_citations }}">&nbsp;<i class="fa-solid fa-bookmark"></i></span>
            </sup>
            {% endif %}
            </td>
            <!-- Verified Tag -->
            {% if value.finalized %}
                <td class="text-success" style="text-align: center;">
                    <a type="button" class="btn p-0 m-0" data-bs-toggle="tooltip" data-bs-html="true"  title="By: {{ value.curators_list }}">
                                &nbsp; <i class="fas text-success fa-check-circle"></i>
                    </a>
                </td>
            {% else %}
                <td class="text-danger" style="text-align: center;"><i class="fas fa-times"></i></td>
            {% endif %}
            <!-- Note -->
            <!-- {% if value.note %}
                <td class="text-success col-md-4" style="text-align: left;">
                    <i class="fa-regular fa-comment-dots"></i> {{value.note}}
                </td>
            {% else %}
                <td class="text-danger" style="text-align: center;"><i class="fa-solid fa-battery-empty"></i> </td>
            {% endif %} -->
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% for value in values %}
        {% autoescape off %}
        {% if "Human_sacrifice_for_polity" == key %}
        {% include "crisisdb/human_sacrifice/human_sacrifice_for_polity_long.html" %}
        {% endif %}
        {% endautoescape %}
        {% endfor %}
    
    </div>
    {% if "Human_sacrifice_for_polity" == key %}
    <hr>
    <h4 class="mt-3">{{key}}</h4>

    <h6 class="text-secondary"> <span><u>What is Human Sacrifice?</u></span>  </h6>
    <h6><span> <i class="fa-solid fa-caret-right"></i> Human Sacrifice is the deliberate and ritualized killing of a person to please or placate supernatural entities (including gods, spirits, and ancestors) or gain other supernatural benefits.  </span></h6>
    {% endif %}

            <div class="table-responsive mb-4">
                <table id="table_id" class="table align-middle table-striped table-bordered">
                    {% if values %}
                    <thead>
                        <tr>
                            <th scope="col" class="text-secondary">#</th>
                            <th scope="col" style="text-align: center" class="fw-light"> Polity</th>
                            <th scope="col" style="text-align: center" class="fw-light"> Year(s)</th>
                            <!-- headings for extra vars -->
                            {% if "Human_sacrifice_for_polity" == key %}
                                {% include "crisisdb/human_sacrifice/human_sacrifice_for_polity_header.html" %}
                            {% endif %}
                            <th scope="col" style="text-align: center" class="fw-light">Tag
                                <sup>
                                    <span type="button" data-bs-toggle="popover" data-bs-html="true" data-bs-content="The tag shows whether the input data is Trusted, Disputed, Suspected, Inferred, or Unknown.">&nbsp;<i class="far fa-question-circle" style="color:dimgrey"></i></span>
                                </sup>
                            </th>
                            <th scope="col" style="text-align: center" class="fw-light">Checked</th>
                            <th scope="col" style="text-align: center" class="fw-light">Description</th>
                            <th scope="col" style="text-align: center" class="fw-light">Edit</th>

                          </tr>
                    </thead>
                    {% endif %}

                    <tbody>
                    {% for value in values %}
                    <tr>
                        <td class="text-secondary" scope="row">{{ forloop.counter }}</td>
                        {% if value.polity %}
                        <td style="text-align: center;" class="text-success fw-bold">{{ value.polity.name }}</td>
                        {% else %}
                        <td style="text-align: center;">-</td>
                        {% endif%}
                        {% block years %}
                        {% if value.year_from == value.year_to %}
                            {% if value.year_from < 0 %}
                            <td style="text-align: center;">{{ value.year_from|abs }} <span class="text-secondary">BCE</span> </td>
                            {% else %}
                            <td style="text-align: center;">{{ value.year_from }} <span class="text-secondary">CE</span></td>
                            {% endif %}
                        {% elif value.year_to == None %}
                            {% if value.year_from < 0 %}
                            <td style="text-align: center;">{{ value.year_from|abs }} <span class="text-secondary">BCE</span></td>
                            {% else %}
                            <td style="text-align: center;">{{ value.year_from }} <span class="text-secondary">CE</span></td>
                            {% endif %}
                        {% elif value.year_to == None and value.year_from == None %}
                            <td style="text-align: center;"> <i class="fa-solid fa-minus"></i> </td>
                        {% else %}
                            {% if value.year_from < 0 and value.year_to < 0 %}
                            <td style="text-align: center;">{{ value.year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to|abs }} <span class="text-secondary">BCE</span></td>
                            {% elif value.year_from < 0 and value.year_to >= 0 %}
                            <td style="text-align: center;">{{ value.year_from|abs }} <span class="text-secondary">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to }} <span class="text-secondary">CE</span></td>
                            {% else %}
                            <td style="text-align: center;">{{ value.year_from }} <span class="text-secondary">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ value.year_to }} <span class="text-secondary">CE</span></td>
                            {% endif %}
                        {% endif %}
                        {% endblock years %}
                        {% if "Human_sacrifice_for_polity" == key %}
                            {% include "crisisdb/human_sacrifice/human_sacrifice_for_polity.html" %}
                        {% endif %}
                    <!-- Tag tag (Disputed/Suspected etc.) -->
                    {% if value.tag == "DSP" %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-danger">{{ value.get_tag_display }}</span>
                    {% elif  value.tag == "SSP" %}
                        <td style="text-align: center;"> <span class="badge rounded-pill bg-warning text-dark">{{ value.get_tag_display }}</span>
                    {% elif  value.tag == "UNK" %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-secondary">{{ value.get_tag_display }}</span>
                    {% elif  value.tag == "IFR" %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-primary">{{ value.get_tag_display }}</span>
                    {% else  %}
                        <td style="text-align: center;"><span class="badge rounded-pill bg-success">{{ value.get_tag_display }}</span>
                    {% endif %}
                    {% if value.display_citations %}
                    <sup>
                        <span type="button"  tabindex="0" data-bs-toggle="popover" title="Refs:" data-bs-html="true" data-bs-trigger="focus" data-bs-content="{{ value.display_citations }}">&nbsp;<i class="fa-solid fa-bookmark"></i></span>
                    </sup>
                    {% endif %}
                    </td>
                    <!-- Verified Tag -->
                    {% if value.finalized %}
                        <td class="text-success" style="text-align: center;">
                            <a type="button" class="btn p-0 m-0" data-bs-toggle="tooltip" data-bs-html="true"  title="By: {{ value.curators_list }}">
                                        &nbsp; <i class="fas text-success fa-check-circle"></i>
                            </a>
                        </td>
                    {% else %}
                        <td class="text-danger" style="text-align: center;"><i class="fas fa-times"></i></td>
                    {% endif %}
                    <!-- Note -->
                    <!-- {% if value.note %}
                        <td class="text-success col-md-4" style="text-align: left;">
                            <i class="fa-regular fa-comment-dots"></i> {{value.note}}
                        </td>
                    {% else %}
                        <td class="text-danger" style="text-align: center;"><i class="fa-solid fa-battery-empty"></i> </td>
                    {% endif %} -->
                    {% autoescape off %}
                    <td class="col-md-6" style="text-align: left;"> {{value.comment}}  </td>
                    {% endautoescape %}
                        {% if "Human_sacrifice_for_polity" == key %}
                            {% include "crisisdb/human_sacrifice/human_sacrifice_for_polity_edit.html" %}
                        {% endif %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
    {% endfor %}
    <div class="row">
        <div id="chart1"></div>
    </div>
</div>





<h5> 
    <span class="text-secondary"><i class="fa-solid fa-people-group"></i> Research Assistant(s):                        
</span> 
{% for ra in object.general_polity_research_assistant_related.all %}
{% if forloop.counter0 > 0 %}
,&nbsp;
{% endif %}
<span>{{ ra.polity_ra }}</span>
{% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-people-group"></i> Seshat Expert(s):                        
</span> 
{% for ra in object.general_polity_expert_related.all %}
{% if forloop.counter0 > 0 %}
,&nbsp;
{% endif %}
<span>{{ ra.expert }}</span>
{% endfor %} <a class="h6" href="">(see more)</a>
</h5>
{% if object.general_polity_editor_related.all %}
<h5> <span class="text-secondary"><i class="fa-solid fa-people-group"></i> Seshat Editor(s):                        
</span> 
{% for ra in object.general_polity_editor_related.all %}
{% if forloop.counter0 > 0 %}
,&nbsp;
{% endif %}
<span>{{ ra.editor }}</span>
{% endfor %} <a class="h6" href="">(see more)</a>
</h5>
{% endif %}

<h5> <span class="text-secondary"><i class="fa-solid fa-file-signature"></i> Polity Original Name(s):</span>
    {% for original_name_name in object.general_polity_original_name_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ original_name_name.original_name }}</span>

    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-signature"></i> Alternative Name(s):</span>
    {% for alternative_name_name in object.general_polity_alternative_name_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ alternative_name_name.alternative_name }}</span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-map-location-dot"></i> UTM Zone:                        
</span> 
{% for utmzone in object.general_polity_utm_zone_related.all %}
<span>{{ utmzone.utm_zone }}</span>
{% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-heart-pulse"></i> Duration:                        
</span> 
    {% include "core/partials/_year_block_object.html" %}
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-dove"></i> Peak Year(s):</span>
    {% for object in object.general_polity_peak_years_related.all %}
    {% include "core/partials/_year_block_object_peak_years.html" %}
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-arrows-to-circle"></i> Degree of Centralization:</span>
    {% for degree_of_centralization_name in object.general_polity_degree_of_centralization_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ degree_of_centralization_name.degree_of_centralization }}</span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-landmark-flag"></i> Capital(s):</span>
    {% for capital_name in object.general_polity_capital_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ capital_name.capital }}</span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-language"></i> Language(s):</span>
    {% for language_name in object.general_polity_language_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ language_name.language }}</span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-language"></i> Language Genus:</span>
    {% for language_genus_name in object.general_polity_language_genus_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ language_genus_name.language_genus }}</span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-language"></i> Linguistic Family:</span>
    {% for linguistic_family_name in object.general_polity_linguistic_family_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ linguistic_family_name.linguistic_family }}</span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-cross"></i> Religion(s):</span>
    {% for religion_name in object.general_polity_religion_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ religion_name.religion }}</span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>

<h5> <span class="text-secondary"><i class="fa-solid fa-cross"></i> Religion Family:</span>
    {% for religion_family_name in object.general_polity_religion_family_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <a href="{% url 'polity_religion_family-detail' religion_family_name.id %}">{{ religion_family_name.religion_family }}</a>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-cross"></i> Religion Genus:</span>
    {% for religion_genus_name in object.general_polity_religion_genus_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <a href="{% url 'polity_religion_genus-detail' religion_genus_name.id %}">{{ religion_genus_name.religion_genus }}</a>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>

<h5> <span class="text-secondary"><i class="fa-solid fa-cross"></i> 
    Alternate Religion(s):</span>
    {% for alternate_religion_name in object.general_polity_alternate_religion_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <a href="{% url 'polity_alternate_religion-detail' alternate_religion_name.id %}">{{ alternate_religion_name.alternate_religion }}</a>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-cross"></i> Alternate Religion Family:</span>
    {% for alternate_religion_family_name in object.general_polity_alternate_religion_family_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <a href="{% url 'polity_alternate_religion_family-detail' alternate_religion_family_name.id %}">{{ alternate_religion_family_name.alternate_religion_family }}</a>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-cross"></i> Alternate Religion Genus:</span>
    {% for alternate_religion_genus_name in object.general_polity_alternate_religion_genus_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <a href="{% url 'polity_alternate_religion_genus-detail' alternate_religion_genus_name.id %}">{{ alternate_religion_genus_name.alternate_religion_genus }}</a>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-cross"></i> Religious Tradition(s):</span>
    {% for religious_tradition_name in object.general_polity_religious_tradition_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <a href="{% url 'polity_religious_tradition-detail' religious_tradition_name.id %}">{{ religious_tradition_name.religious_tradition }}</a>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-circle-nodes"></i> Supracultural Entity:</span>
    {% for supracultural_entity_name in object.general_polity_supracultural_entity_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ supracultural_entity_name.supracultural_entity }}</span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-circle-nodes"></i> Scale of Supracultural Interaction:</span>
    {% for scale_of_supracultural_interaction_name in object.general_polity_scale_of_supracultural_interaction_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>[{{ scale_of_supracultural_interaction_name.scale_from|intcomma }} <span class="text-secondary">to</span> {{ scale_of_supracultural_interaction_name.scale_to|intcomma }}] km<sup>2</sup></span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-circle-arrow-left"></i> Preceding Entity:</span>
    {% for preceding_entity_name in object.general_polity_preceding_entity_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <a href="{% url 'polity_preceding_entity-detail' preceding_entity_name.id %}">{{ preceding_entity_name.preceding_entity }}</a>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-regular fa-heart"></i> Relationship to Preceding Entity:</span>
    {% for relationship_to_preceding_entity_name in object.general_polity_relationship_to_preceding_entity_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <span>{{ relationship_to_preceding_entity_name.relationship_to_preceding_entity }}</span>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>
<h5> <span class="text-secondary"><i class="fa-solid fa-circle-arrow-right"></i> Succeeding Entity:</span>
    {% for succeeding_entity_name in object.general_polity_succeeding_entity_related.all %}
    {% if forloop.counter0 > 0 %}
    ,&nbsp;
    {% endif %}
    <a href="{% url 'polity_succeeding_entity-detail' succeeding_entity_name.id %}">{{ succeeding_entity_name.succeeding_entity }}</a>
    {% endfor %} <a class="h6" href="">(see more)</a>
</h5>

{% endblock content%}