{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}


{% block content %}
<style>
    .accordion-button{
        text-align: right;
        display:block;
    }
    .bce-color {
        color: #f0778c !important;
    }

    .ce-color {
        color: #00ab41 !important;
    }
</style>

<div class="container">
    <div class="row">
    <div class="col-md-3">
        <h6 class="lead-2 text-secondary pt-4">List of all:</h6>
        <h2>Polities</h2>
    </div>
    {% if user.is_authenticated %}


        <div class="col-md-9 p-3">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item" style="background-color:#fffdf2;">
                <h5 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color:#fffdf2;"> <span class="badge  rounded-pill  bg-warning text-dark fs-6">Majid's Note + MetaData*</span> 
                    </button>
                </h5>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body pt-1 px-0">
                        <p class="p-0 m-0">
                            - Please note that the alignment of the list of world regions with the Seshat Regions is not yet <b>complete</b>. This is due to the ongoing process of establishing the Spatial Associations between polities, World Regions, and Seshat Regions. Currently, I'm utilizing the existing legacy home NGA associations to provide preliminary insights into the way forward.
                        </p>


                        <table class="table table-bordered pt-2">
                            <thead>
                              <tr>
                                <th class="text-center">Code</th>
                                <th>Definition</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" title="An Equinox 2020 Polity">
                                        <span type="button" tabindex="0" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus">
                                          <span class="badge bg-secondary text-light p-1">EQ 2020</span>
                                        </span>
                                    </td>
                                    <td>An Equinox 2020 Polity</td>
                                  </tr>
                                  <tr>
                                    <td class="text-center" title="A CrisisDB-specific Polity">
                                        <span type="button" tabindex="0" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus">
                                          <span class="badge bg-secondary text-light p-1">CrisisDB</span>
                                        </span>
                                    </td>
                                    <td>A CrisisDB-specific Polity</td>
                                  </tr>
                                <tr>
                                    <td class="text-center" title="A NEW West African Polity">
                                        <span type="button" tabindex="0" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus">
                                          <span class="badge bg-secondary text-light p-1">New WA</span>
                                        </span>
                                    </td>
                                    <td>A NEW West African Polity</td>
                                  </tr>
                                  <tr>
                                    <td class="text-center" title="A NEW East African Polity">
                                        <span type="button" tabindex="0" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus">
                                          <span class="badge bg-secondary text-light p-1">New EA</span>
                                        </span>
                                    </td>
                                    <td>A NEW East African Polity</td>
                                  </tr>
                                  <tr>
                                    <td class="text-center" title="A NEW Southern African Polity">
                                        <span type="button" tabindex="0" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus">
                                          <span class="badge bg-secondary text-light p-1">New SA</span>
                                        </span>
                                    </td>
                                    <td>A NEW Southern African Polity</td>
                                  </tr>
                                  <tr>
                                    <td class="text-center" title="A NEW South East Indian Polity">
                                        <span type="button" tabindex="0" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus">
                                          <span class="badge bg-secondary text-light p-1">New SEA</span>
                                        </span>
                                    </td>
                                    <td>A NEW South East Indian Polity</td>
                                  </tr>
                                  <tr>
                                    <td class="text-center" title="Unknown Polity Category">
                                        <span type="button" tabindex="0" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus">
                                          <span class="badge bg-secondary text-light p-1">OTHER</span>
                                        </span>
                                    </td>
                                    <td>Unknown Polity Category</td>
                                  </tr>



                              <tr>
                                <td class="text-center">
                                  <span type="button" tabindex="0" data-bs-toggle="popover" title="General Variables" data-bs-html="true" data-bs-trigger="focus">
                                    <span class="badge bg-warning text-dark p-1">G</span>
                                  </span>
                                </td>
                                <td title="General Variables is coded for this polity.">General Variables have been coded for this Polity.</td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <span type="button" tabindex="0" data-bs-toggle="popover" title="Social Complexity Variables" data-bs-html="true" data-bs-trigger="focus">
                                    <span class="badge bg-primary p-1">SC</span>
                                  </span>
                                </td>
                                <td title="Social Complexity Variables is coded for this polity.">Social Complexity Variables have been coded for this Polity.</td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <span type="button" tabindex="0" data-bs-toggle="popover" title="Warfare Variables (MilTech)" data-bs-html="true" data-bs-trigger="focus">
                                    <span class="badge bg-danger p-1">WF</span>
                                  </span>
                                </td>
                                <td title="Warfare Variables (MilTech) is coded for this polity.">Warfare Variables (MilTech) have been coded for this Polity.</td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <span type="button" tabindex="0" data-bs-toggle="popover" title="Human Sacrifice" data-bs-html="true" data-bs-trigger="focus">
                                    <span class="badge bg-success text-light p-1">HS</span>
                                  </span>
                                </td>
                                <td title="Human Sacrifice is coded for this polity.">Human Sacrifice Data has been coded for this Polity.</td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <span type="button" tabindex="0" data-bs-toggle="popover" title="Crisis Consequences" data-bs-html="true" data-bs-trigger="focus">
                                    <span class="badge bg-dark p-1">CC</span>
                                  </span>
                                </td>
                                <td title="Crisis Consequences is coded for this polity.">Crisis Consequences have been coded for this Polity.</td>
                              </tr>
                              <tr>
                                <td class="text-center">
                                  <span type="button" tabindex="0" data-bs-toggle="popover" title="Power Transition" data-bs-html="true" data-bs-trigger="focus">
                                    <span class="badge bg-info text-dark p-1">PT</span>
                                  </span>
                                </td>
                                <td title="Power Transition is coded for this polity.">Power Transitions have been coded for this Polity.</td>
                              </tr>
                            </tbody>
                          </table>
                          


                        <p class="text-secondary pt-1 m-0">* This message is only shown to logged in users.</p>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>

    {% endif %}


    </div>

    <div class="col-md-6 pb-3 ml-auto text-right">
        <a href="{% url 'polity-create'  %}" class="btn btn-outline-success mx-1 my-2"><i class="fa-solid fa-plus"></i> &nbsp; Create a New Polity</a>
        <a href="{% url 'download_csv_all_polities' %}" class="btn btn-outline-danger mx-1 my-2"><i class="fa-solid fa-file-arrow-down"></i> &nbsp; Downlaod All Polities (PolsVars)</a>
    </div>

    




    <h6 class="text-secondary">* A polity is defined as an independent political unit. Kinds of polities range from villages (local
        communities) through simple and complex chiefdoms to states and empires.</h6>
    <h6 class="text-secondary pb-3">* A polity can be either centralized or not (e.g., organized as a confederation). For those periods when a region is divided up among a multitude of small-scale polities (e.g., independent villages or even many small chiefdoms) or when it is controlled in quick succession by a number of different regimes, we use the concept of 'quasi-polity'.</h6>
    {% if messages %}
    <ul class="messages mt-3">
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <i class="fa-solid fa-circle-info"></i> Thank you <b>{{ user }}</b>. {{ message }}
            </div>
        </div>
        {% endfor %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="container-fluid p-0">
          <div class="text-danger" role="alert" >
            <i class="fa-solid fa-triangle-exclamation"></i>  {{ error }}
          </div>
        </div>
        {% endfor %}
        <hr> 
        {% endif %}
    </ul>
    <hr>
    {% endif %}
    <div class="row">
        {% for a_world_region, a_dic_of_subregions in ultimate_wregion_dic.items %}
        <div class="table-responsive pb-2 col-md-4">
            <table id="table_id_3" class="table align-middle caption-top">
                <caption style="border-bottom: 2px solid rgb(177, 175, 175); "> 
                    <h2 style="margin-bottom: 0.25rem;">
                        <a class="fw-bold" href="#{{a_world_region}}"> 
                            {% if a_world_region == "Europe" %}
                            <i class="fa-solid fa-earth-europe"></i>
                            {% elif a_world_region == "Africa" %}
                            <i class="fa-solid fa-earth-africa"></i>
                            {% elif a_world_region == "Southwest Asia" or a_world_region == "Southeast Asia" or a_world_region == "Central Eurasia" or a_world_region == "East Asia" or a_world_region == "South Asia" %}
                            <i class="fa-solid fa-earth-asia"></i>
                            {% elif a_world_region == "Oceania-Australia" %}
                            <i class="fa-solid fa-earth-oceania"></i>
                            {% elif a_world_region == "North America" or a_world_region == "South America" %}
                            <i class="fa-solid fa-earth-americas"></i>
                            {% else %}
                            <i class="fa-solid fa-map-location-dot"></i>        
                            {% endif %}
                            {{ a_world_region }}                            
                        </a>          
                    </h2>                       
                                   
                </caption>
                <tbody style="border-style: none;">
                            {% for a_subregion, a_list_of_polities in a_dic_of_subregions.items %}
                            <tr>
                                <td style="border-style:none;">
                                    <span class="h5 ps-1">
                                        <a class="fw-bold" href="#{{a_subregion}}"> 
                                            <i class="fa-solid fa-location-dot fa-xs text-secondary"></i> {{ a_subregion }}
                                        </a> 
                                    </span>
                                    {% for k, list_of_regions in sub_regions_details.items %}
                                        {% if a_subregion == k %}
                                        <span class="text-secondary">
                                            {{ list_of_regions }}
                                        </span>  
                                        {% endif %}
                                    {% endfor %}

                                </td>
                            </tr>        
                            {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

    <hr>
    {% for a_world_region, a_dic_of_subregions in ultimate_wregion_dic.items %}
        <div class="text-success py-2" id="{{a_world_region}}"><i class="fa-solid fa-up-long"></i><a href="#">&nbsp; top of the page</a>
        </div>
    <h2 class="display-5 pt-3"> 
        {% if a_world_region == "Europe" %}
        <i class="fa-solid fa-earth-europe"></i>
        {% elif a_world_region == "Africa" %}
        <i class="fa-solid fa-earth-africa"></i>
        {% elif a_world_region == "Southwest Asia" or a_world_region == "Southeast Asia" or a_world_region == "Central Eurasia" or a_world_region == "East Asia" or a_world_region == "South Asia" %}
        <i class="fa-solid fa-earth-asia"></i>
        {% elif a_world_region == "Oceania-Australia" %}
        <i class="fa-solid fa-earth-oceania"></i>
        {% elif a_world_region == "North America" or a_world_region == "South America" %}
        <i class="fa-solid fa-earth-americas"></i>
        {% else %}
        <i class="fa-solid fa-map-location-dot"></i>        
        {% endif %}
        {{ a_world_region }}
    </h2>
    {% for a_subregion, a_list_of_polities in a_dic_of_subregions.items %}
    <div class="pb-3" id="{{a_subregion}}"></div>
    <h2 class="text-teal pt-5"><i class="fa-solid fa-circle-chevron-right"></i> {{ a_subregion }}:</h2>
    {% if a_list_of_polities %}
    <div class="table-responsive">
    <table id="table_id" class="table align-middle table-striped table-bordered">
        <thead>
          <tr>
            <th class="ps-2"> <i class="fa-solid fa-circle-chevron-right fa-xs text-secondary"></i> &nbsp; Polity Name</th>
            <th class="ps-2"> <i class="fa-solid fa-key"></i> &nbsp;Polity ID</th>
            <th  class="text-dark" style="text-align: center;"><i class="fa-solid fa-database fa-sm"></i> &nbsp;Coded Data</th>
            <th  style="text-align: right;"> <i class="fa-regular fa-calendar-check"></i> &nbsp; Year Range</th>

          </tr>
        </thead>
        <tbody>
                {% for a_polity in a_list_of_polities %}
                <tr>
                <td class="col-md-5 ps-2 py-2" style="text-align: left;"> 
                    {% if a_polity.long_name %}
                        <span class="fw-bold h5"><i class="fa-solid fa-location-dot fa-xs text-secondary"></i>&nbsp; {{ a_polity.long_name }}&nbsp;</span>
                        {% if a_polity.polity_tag == 'POL_AFR_WEST' %}
                        <sup>
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="A NEW West African Polity" data-bs-html="true" data-bs-trigger="focus">
                            <span class="badge bg-secondary text-light p-1">New WA</span>    
                        </sup>
                        {% elif a_polity.polity_tag == "POL_AFR_EAST" %}
                        <sup>
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="A NEW East African Polity" data-bs-html="true" data-bs-trigger="focus">
                            <span class="badge bg-secondary text-light p-1">New EA</span> 
                        </sup>
                        {% elif a_polity.polity_tag == "POL_AFR_SA" %}
                        <sup>
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="A NEW Southern African Polity" data-bs-html="true" data-bs-trigger="focus">
                            <span class="badge bg-secondary text-light p-1">New SA</span> 
                        </sup>
                        {% elif a_polity.polity_tag == "POL_SA_SI" %}
                        <sup>
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="A NEW South East Indian Polity" data-bs-html="true" data-bs-trigger="focus">
                            <span class="badge bg-secondary text-light p-1">New SEA</span> 
                        </sup>
                        {% elif a_polity.polity_tag == "LEGACY" %}
                        <sup>
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="An Equinox 2020 Polity" data-bs-html="true" data-bs-trigger="focus">
                            <span class="badge bg-secondary text-light p-1">EQ 2020</span> 
                        </span> 
                        </sup>
                        {% elif a_polity.polity_tag == "CRISISDB_POLITIES" %}
                        <sup>
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="A CrisisDB-specific Polity" data-bs-html="true" data-bs-trigger="focus">
                            <span class="badge bg-secondary text-light p-1">CrisisDB</span> 
                        </sup>
                        {% elif a_polity.polity_tag == "OTHER_TAG" %}
                        <sup>
                            <span type="button"  tabindex="0" data-bs-toggle="popover" title="Unknown Polity Category" data-bs-html="true" data-bs-trigger="focus">
                            <span class="badge bg-secondary text-light p-1">OTHER</span> 
                        </sup>
                        {% endif %}



                    {% else %}
                    <span class="text-danger fw-bold h5"> <i class="fa-solid fa-location-dot fa-xs text-secondary"></i> &nbsp; No Long Name</span> <a href="{% url 'polity-update' a_polity.id %}"><span class="badge bg-small bg-warning text-dark">EDIT</span></a> 
                    {% endif %}


                </td>
                <td class="col-md-3 ps-2 py-2" style="text-align: left;"> 
                    {% if a_polity.new_name %}
                    <a href="{% url 'polity-detail-main' a_polity.id %}" class="fs-6 fw-normal"><b>{{ a_polity.new_name }}</b></a>

                    {% if a_polity.new_name != a_polity.name %}
                    <span class="text-secondary">/ {{ a_polity.name }}</span>
                    {% endif %}


                    {% else %}
                    (<a href="{% url 'polity-detail-main' a_polity.id %}"><b>{{ a_polity.name }}</b></a>) 
                    <span class="text-danger"><b>NEW_Polity_ID</b>  missing</span>  
                    <a href="{% url 'polity-update' a_polity.id %}"><span class="badge bg-small bg-warning text-dark">update</span></a>
                    {% endif %}
                </td>

                <td class="col-md-2"  style="text-align: center;"> 
                    {% if a_polity.has_g_sc_wf.g %}
                        <span type="button"  tabindex="0" data-bs-toggle="popover" title="General Variables" data-bs-html="true" data-bs-trigger="focus">
                            <a href="{% url 'polity-detail-main' a_polity.id %}#general_var"><span class="badge bg-warning text-dark p-1">G</span></a>
                        </span>
                    {% endif %}
                    {% if a_polity.has_g_sc_wf.sc %}
                        <span type="button"  tabindex="0" data-bs-toggle="popover" title="Social Complexity Variables" data-bs-html="true" data-bs-trigger="focus">
                            <a href="{% url 'polity-detail-main' a_polity.id %}#sc_var"><span class="badge bg-primary p-1">SC</span></a>
                    </span>                   
                    {% endif %}
                    {% if a_polity.has_g_sc_wf.wf %}
                    <span type="button"  tabindex="0" data-bs-toggle="popover" title="Warfare Variables (MilTech)" data-bs-html="true" data-bs-trigger="focus">
                        <a href="{% url 'polity-detail-main' a_polity.id %}#wf_var"><span class="badge bg-danger p-1">WF</span></a>
                    </span>                  
                    {% endif %}
                    {% if a_polity.has_g_sc_wf.hs %}
                    <span type="button"  tabindex="0" data-bs-toggle="popover" title="Human Sacrifice" data-bs-html="true" data-bs-trigger="focus">
                        <a href="{% url 'polity-detail-main' a_polity.id %}#hs_var"><span class="badge bg-success text-light p-1">HS</span></a>
                    </span>                   
                    {% endif %}
                    {% if a_polity.has_g_sc_wf.cc %}
                    <span type="button"  tabindex="0" data-bs-toggle="popover" title="Crisis Consequences" data-bs-html="true" data-bs-trigger="focus">
                        <a href="{% url 'polity-detail-main' a_polity.id %}#crisis_case_var"><span class="badge bg-dark p-1">CC</span></a>
                    </span>                   
                    {% endif %}
                    {% if a_polity.has_g_sc_wf.pt %}
                    <span type="button"  tabindex="0" data-bs-toggle="popover" title="Power Transition" data-bs-html="true" data-bs-trigger="focus">
                        <a href="{% url 'polity-detail-main' a_polity.id %}#power_transition_var"><span class="badge bg-info text-dark p-1">PT</span></a>
                    </span>                   

                    {% endif %}

                </td>
                <td class="col-md-2 fw-bold fs-5 "  style="text-align: right;">
                    {% block years_short_for_top_pol %}
                    {% if  a_polity.start_year == a_polity.end_year %}
                        {% if  a_polity.start_year < 0 %}
                            {{ a_polity.start_year|abs|intcomma }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span> 
                        {% else %}
                            {{ a_polity.start_year|intcomma }} <span class="text-secondary fw-normal ce-color fs-6">CE</span>
                        {% endif %}
                    {% elif a_polity.end_year == None %}
                        {% if  a_polity.start_year < 0 %}
                            {{ a_polity.start_year|abs|intcomma }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span>
                        {% else %}
                            {{ a_polity.start_year|intcomma }} <span class="text-secondary fw-normal ce-color fs-6">CE</span>
                        {% endif %}
                    {% elif a_polity.end_year == None and  a_polity.start_year == None %}
                        <i class="fa-solid fa-minus"></i> 
                    {% else %}
                        {% if  a_polity.start_year < 0 and a_polity.end_year < 0 %}
                            {{ a_polity.start_year|abs|intcomma }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ a_polity.end_year|abs|intcomma }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span>
                        {% elif  a_polity.start_year < 0 and a_polity.end_year >= 0 %}
                            {{ a_polity.start_year|abs|intcomma }} <span class="text-secondary fw-normal bce-color fs-6">BCE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ a_polity.end_year|intcomma }} <span class="text-secondary fw-normal ce-color fs-6">CE</span>
                        {% else %}
                            {{ a_polity.start_year|intcomma }} <span class="text-secondary fw-normal ce-color fs-6">CE</span> <i class="fas fa-long-arrow-alt-right"></i> {{ a_polity.end_year|intcomma }} <span class="text-secondary fw-normal ce-color fs-6">CE</span>
                        {% endif %}
                    {% endif %}
                    {% endblock years_short_for_top_pol %}
                </td>

            </tr>
            {% endfor %}

        </tbody>
      </table>
    </div>
      {% else %}
      <div class="row">
          <div class="col-md-12 mt-4">
              <h3> <i class="fa-solid fa-triangle-exclamation"></i> There are no Polities in the Database for this region.</h3>
          </div>
      </div>
      {% endif %}
      {% endfor %}

    {% endfor %}
</div>

  {% endblock %}



