{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block content %}
<div class="container my-4 py-2 ps-4">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? <br>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="col-md-6">

            <label for="id_email" class="fw-bold form-label">E-mail:</label>
            <input type="email" name="email" class="form-control" placeholder="E-mail address" autocomplete="email" required="" id="id_email">
            <input type="submit"  class="fw-bold btn btn-primary fa-lg gradient-custom-2 mb-3 me-3 my-3 px-5" value="{% trans 'Reset My Password' %}" />
        </div>

    </form>

    <p>{% blocktrans %}* Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}