{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class=" gradient-form pt-5">
  <div class="container py-2">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0 border border-3">
            <div class="col-lg-6 gradient-custom-light" style="background-color: #fefae6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <h3>{% trans "Sign Up" %}</h3>

                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                    <h6> You do not have an account yet? </h6>
                    <p> Sign up using: </p>

                </div>
                </div>      

                {% get_providers as socialaccount_providers %}
                
                {% if socialaccount_providers %}
                <div class="socialaccount_ballot">
                  <div class="row">
                    <div class="col-md-12">
                      <a title="Google" class="socialaccount_provider google btn btn-outline-danger fw-bold fa-lg col-md-12 mb-1 my-1" href="/accounts/google/login/?process=login"> <i class="fa-brands fa-google"></i>  &nbsp; Google</a>
                    </div>
                  </div>
                  <div class="col-md-12 mt-4">
                    <p> or, sign up the traditional way: </p>
                    <a class="btn btn-primary fw-bold fa-lg col-md-12 gradient-custom-2 me-3 my-2 px-5"  href="{% url 'signup' %}">{% trans "Sign Up" %}</a>
                  </div>
                </div>
                
                {% include "socialaccount/snippets/login_extra.html" %}
                
                {% else %}
                <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-light" style="background-color: #fefae6">
              <div class="text-dark px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mt-4 mb-3">Seshat: Global History Databank</h4>
                <p class="small mb-2">was founded in 2011 to bring together the most current and comprehensive body of knowledge about human history in one place. The huge potential of this knowledge for testing theories about political and economic development has been largely untapped.</p>
                <hr>
                <h4 class="mt-4 mb-3">Seshat unique Databank
                </h4>
                <p class="small mb-2">systematically collects what is currently known about the social and political organization of human societies and how civilizations have evolved over time. This massive collection of historical information allows us and others to rigorously test different hypotheses about the rise and fall of large-scale societies across the globe and human history.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Rainbow hr -->
{% endblock %}