{% extends "core/list_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block download_button %}
    <a href="{% url 'politysuprapolityrelations-create' %}" class="btn btn-outline-success mx-3 my-4 float-end"><i class="fas fa-plus"></i> &nbsp; Add More Facts</a>
    <a href="{% url 'politysuprapolityrelations-download' %}" class="btn btn-outline-primary ms-auto my-4 float-end"><i class="fas fa-download"></i> &nbsp; Download All</a>
{% endblock download_button %}

{% block metadownload_button %}
    <a href="{% url 'politysuprapolityrelations-metadownload' %}" class="btn btn-primary ms-auto py-2 my-2 float-end"><i class="fas fa-download"></i> &nbsp; Download MetaData</a>
{% endblock metadownload_button %}

{% block main_description %}

{% endblock main_description %}

{% block myheadings_list %}
<th class = "fw-normal" style="text-align: center;" scope="col">Supra Polity Relations
<sup>
<span type="button" data-bs-toggle="popover" data-bs-html="true" data-bs-content="NO DESCRIPTION">&nbsp;<i class="fas fa-question-circle"></i></span>
</sup>
</th>
{% endblock myheadings_list %}

{% block extra_vars_list %}

<td class = "{% if obj.tag == 'DSP' %}
text-danger
{% elif obj.tag == 'SSP' %}
text-warning
{% elif obj.tag == 'UNK' %}
text-secondary
{% elif obj.tag == 'IFR' %}
text-primary
{% else %}
text-success
{% endif %} fw-normal" style="text-align: center;">{{ obj.politysuprapolityrelations }}
</td>
{% endblock extra_vars_list %}

<!-- Update Button -->
{% block update_button %}
    <td style="text-align: center;"><a href="{% url 'politysuprapolityrelations-update' obj.id %}"><button class="btn btn-outline-primary btn-sm">Update</button></a></td>
{% endblock update_button %}
        