{% extends "core/form_base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block extra_vars %}
    <div class="col-md-4 mb-2">
        {{ form.worker_wage|as_crispy_field }}
    </div>
{% endblock extra_vars %}

{% block extra_vars2 %}

<div class="col-md-4 mb-2">
    {{ form.area|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
    {{ form.unskilled_construction|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
    {{ form.skilled_construction|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
    {{ form.number_of_districts_with_available_data|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
    {{ form.unskilled_arms_manufacturer|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
    {{ form.population_in_millions_in_1787|as_crispy_field }}
</div>
{% endblock extra_vars2 %}

{% block delete_button %}
    <a href="{% url 'worker_wage-delete' object.id %}" type="cancel" class="btn btn-outline-danger my-auto btn-block btn-lg">Delete </a>
{% endblock delete_button %}
        