{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Rainbow hr -->
{% include "core/partials/_rainbow.html" %}
<div class="container">
  <div class="container d-flex justify-content-center">
    <h3 class="py-2">Welcome to the Seshat Login Page.</h3>
  </div>
  <div class="container d-flex justify-content-center">
    <hr class="bg-colorful" style="width:50%">
  </div>
  <div class="container d-flex justify-content-center">
    {% if form.errors %}
    <p class="text-danger"> Something went wrong. Your username and password didn't match. Please try again.</p>
    {% endif %}
   </div>
   <div class="container d-flex justify-content-center">
    {% if next %}
    {% if user.is_authenticated %}
      <p class="text-danger">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p class="text-info">Please login to see this page.</p>
    {% endif %}
  {% endif %}
   </div>
   <div class="container d-flex justify-content-center">
    <form method="post" action="{% url 'login' %}" class="border-colorful rounded">
      {% csrf_token %}
      <div class="mb-4 mt-3">
        <label for="username" class="form-label">Username:</label>
        <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
      </div>
      <div class="mb-4">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
      </div>


<!-- 
      <div class="row">
        <div class="col-md-12">
          {{ form.username|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          {{ form.password|as_crispy_field }}
        </div>
      </div>
      <br> -->
      <div class="my-3 d-flex justify-content-center"> 
        <input class="btn btn-teal px-4" type="submit" value="Log In" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="container d-flex justify-content-center">
        {# Assumes you setup the password_reset view in your URLconf #}
        <span class="mt-1"><a href="{% url 'password_reset' %}">Forgot password?</a></span>
     </div>
    </form>
   </div>
</div>
{% endblock %}
