{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-4 py-2 ps-4 border-start border-4 border-success">
  <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
    <div class="col-md-6">
      <h5>
          Please enter your email address:
      </h5>
    </div>
    <div class="col-md-4 py-4">
      {{ form.email|as_crispy_field }}
    </div>
      <input type="submit" class="btn btn-default btn-success" value="Reset password">
    </form>
</div>

{% endblock %}
