{% extends "core/list_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block download_button %}
    <a href="{% url 'GDP_growth_rate-create' %}" class="btn btn-outline-success mx-3 my-4 float-end"><i class="fas fa-plus"></i> &nbsp; Add More Facts</a>
    <a href="{% url 'GDP_growth_rate-download' %}" class="btn btn-outline-primary ms-auto my-4 float-end"><i class="fas fa-download"></i> &nbsp; Download All</a>
{% endblock download_button %}

{% block myheadings_list %}
<th style="text-align: center;" scope="col">Gdp Growth Rate</th>
{% endblock myheadings_list %}

{% block extra_vars_list %}

<td style="text-align: center;">{{ obj.GDP_growth_rate }}
    <sup>
        <span type="button" data-bs-toggle="popover" title="Refs:" data-bs-html="true" data-bs-content=" {{ obj.display_citations }}">&nbsp;<i class="far fa-bookmark text-info"></i></span>
    </sup>
</td>
{% endblock extra_vars_list %}

<!-- Update Button -->
{% block update_button %}
    <td style="text-align: center;"><a href="{% url 'GDP_growth_rate-update' obj.id %}"><button class="btn btn-outline-primary btn-sm">Update</button></a></td>
{% endblock update_button %}
        