<!-- seshatcommentpart_create.html -->
{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% crispy ReferenceWithPageForm ReferenceWithPageForm.helper %}


{% block content %}
<div class="container p-4">

<!-- seshatcommentpart_create.html -->
<form method="post" action="{% url 'seshatcommentpart_create3' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4">

        {{ form.comment_text.label_tag }} {{ form.comment_text }}<br>
        {{ form.formset.management_form }}

      </div>
      <div class="col-md-8">
        <div id="formset-container">
            {% for form in form.formset %}
            <div class="formset-item"  style="display: none;">
                {{ form.id }} {# Include the form ID for proper formset rendering #}
                <div class="row">
                  <div class="col-md-8">
                    {{ form.ref|as_crispy_field }} 
                  </div>
                  <div class="col-md-2">
                    {{ form.page_from|as_crispy_field }}
                  </div>
                  <div class="col-md-2">

                    {{ form.page_to|as_crispy_field }}
                  </div>
                </div>
            </div>
            {% endfor %}
          </div>
          <a id="show-more-button" type="button" class="btn btn-success">Show More</a>
        </div>
        {{ form.comment_order.label_tag }} {{ form.comment_order }}<br>
    <input type="submit" value="Submit">
  </div>
  </form>
</div>
<!-- seshatcommentpart_create.html -->
<script>

  document.addEventListener("DOMContentLoaded", function () {
    const formsetItems = document.querySelectorAll('.formset-item');
    const showMoreButton = document.getElementById('show-more-button');
    let visibleItemCount = 2; // Initial visible items count

    showMoreButton.addEventListener('click', function () {
        for (let i = 0; i < formsetItems.length; i++) {
            if (i < visibleItemCount) {
                formsetItems[i].style.display = 'block';
            } else {
                break;
            }
        }
        visibleItemCount++; // Increase visible items count
        if (visibleItemCount > formsetItems.length) {
            showMoreButton.style.display = 'none'; // Hide the button when all items are shown
        }
        $(document).ready(function() {
          // Initialize Select2 with an empty dataset
          $('.js-example-basic-single').select2();
      });   
    });
});
    
</script>
 
{% endblock %}

  