{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}

{% load humanize %}


{% block content %}
{% if object.text == "No Descriptions provided." %}
<div class="container pt-4">
    <h4>No discriptions for this fact.</h4>
    <h6 class="pt-3">Add one please:</h6>
    <a href="#"><button class="btn btn-danger btn-sm">Create</button></a>
</div>
{% else %}
<div class="container table-responsive">
    <form action="" method="post">
            {% csrf_token %}
            <legend>
                <div class="row d-flex align-items-center">
                    <div class="col-md-12 pb-3">
                        <h5 class="lead-2 pt-4">Update Description for:</h5>
                        <h4 class="pb-2">
                            {% for hs_inst in object.crisisdb_human_sacrifice_related.all %}
                            <span class="lead-2 text-success pb-4">{{hs_inst.name}}</span>
                             in: <span><a href="{% url 'polity-detail-main' hs_inst.polity.id %}">{{hs_inst.polity}}</a></span>
                            {% endfor %}
                        </h4>
                        <h5 class="lead-2 text-primary">- Note that each description has several <u>subdescriptions</u><sup>*</sup>.</h5>
                        <h6 class="lead-2 text-secondary">* A subdescription is a combination of some text and its corresponding citation or citations.</h6>
                        <h5 class="lead-2 text-primary">- Use <a class="btn btn-danger btn-sm py-1"><i class="fa-regular fa-pen-to-square"></i></a> to modify a subdescription, or use <a class="btn btn-warning btn-sm py-1" href="#"><i class="fa-solid fa-arrow-down-short-wide"></i></a> to insert a new chunk below an existing subdescription.</h5>
                    </div>
                    {% if messages %}
                    <ul class="messages mt-3">
                        {% for message in messages %}
                        <div class="container-fluid p-0">
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                <i class="fa-solid fa-circle-info"></i> Thank you <b>{{ user }}</b>. {{ message }}
                            </div>
                          </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </legend>
        <table id="table_id" class="table align-middle table-striped table-bordered">
            <thead>
                <tr>
                  <th scope="col" class="text-secondary">#</th>
                  <th scope="col" style="text-align: left"> Curator(s)</th>
                  <th scope="col" style="text-align: left"> SubDescriptionText</th>
                  <th scope="col" style="text-align: left"> Citations</th>
                  <th scope="col" style="text-align: center">Update</th>
                  <th scope="col" style="text-align: center">Insert</th>
                </tr>
              </thead>
              <tbody>
                {% autoescape off %}

                {% for subcom in object.inner_comments_related.all %}

                    <tr>
                        <td class="text-secondary" scope="row">{{ forloop.counter0|add:1}}</td>
                        <td class="col-md-2">
                                {{ subcom.comment_curator }}
                        </td>
                        <td class="col-md-6">
                                {{ subcom.comment_part_text }}
                        </td>
                        <td class="col-md-3">
                            {% if subcom.display_citations %}
                                {{ subcom.display_citations }}
                            {% else %}
                            <i class="fa-solid fa-minus text-danger"></i>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            <a class="btn btn-danger btn-sm py-1" href="{% url 'seshatcommentpart-update' subcom.pk %}"><i class="fa-regular fa-pen-to-square"></i></a>
                        </td>
                        <td style="text-align: center">
                            <a class="btn btn-warning btn-sm py-1" href="{% url 'seshatcommentpart-create2' com_id=subcom.comment_id subcom_order=subcom.comment_order|add:1 %}"><i class="fa-solid fa-arrow-down-short-wide"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                {% endautoescape %}
            </tbody>
          </table>
        </form>
</div>
{% endif %}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })

    function DisplayProgressMessage(ctl, msg) {
        $(ctl).prop("class", "btn btn-success px-4 disabled");
        $(ctl).text(msg);
        return true;
    }
</script>

  {% endblock %}


        