{% extends "core/form_base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block extra_vars %}
    <div class="col-md-4 mb-2">
        {{ form.conflict_id|as_crispy_field }}
    </div>
{% endblock extra_vars %}

{% block extra_vars2 %}

<div class="col-md-4 mb-2">
{{ form.expenditure|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
{{ form.leader|as_crispy_field }}
</div>

<div class="col-md-4 mb-2">
{{ form.casualty|as_crispy_field }}
</div>
{% endblock extra_vars2 %}
        