{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}


{% block content %}
<div class="container">
    <div class="row d-flex align-items-center mt-3">
        <div class="col-md-5 border-start border-5 border-success">
            <!-- <h5 class="lead-2">List of all the data for: {{object_list.0.section}}</h5> -->
            <h6><span class="display-6">Citation</span></h6>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-4">      
            <!-- Download and Create Buttons -->
            <a href="{% url 'citation-create' %}" class="btn btn-outline-success mx-3 my-4 float-end"><i class="fas fa-plus"></i> &nbsp; Add More Citations</a>
        </div>
      </div>
    {% if object_list %}
    <div class="table-responsive">
        <table id="table_id" class="table align-middle table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-secondary">#</th>
                <th scope="col" style="text-align: left" class="fw-light"> Citation Name </th>
                <th scope="col" style="text-align: center" class="fw-light"> Page From</th>
                <th scope="col" style="text-align: center" class="fw-light"> Page To</th>
                <th scope="col" style="text-align: center" class="fw-light"> Full Publication</th>
                <th scope="col" style="text-align: center" class="fw-light"> Zotero link</th>
              </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                <tr>
                    <div>
                        <td class="text-secondary" scope="row">{{ forloop.counter0|add:page_obj.start_index }}</td>
                        <td style="text-align: left;"><a class="greenlink" href="https://www.zotero.org/groups/1051264/seshat_databank/items/{{ obj.zotero_link }}">{{ obj }}</a>
                        </td>
                        <td style="text-align: center;">
                        {% if not obj.page_from %}
                        -
                        {% else %}
                        {{ obj.page_from }}
                        {% endif %}
                        </td>
                        <td style="text-align: center;">
                        {% if not obj.page_to %}
                        -
                        {% else %}
                        {{ obj.page_to }}
                        {% endif %}
                        </td>
                        <td style="text-align: center;">
                        {% if not obj.page_from and not obj.page_to %}
                        <i class="fa-solid fa-circle-check text-success"></i>
                        {% else %}
                        <i class="fa-solid fa-circle-xmark text-warning"></i>
                        {% endif %}
                        </td>
                        <td style="text-align: center;"><a class="greenlink" href="https://www.zotero.org/groups/1051264/seshat_databank/items/{{ obj.ref.zotero_link }}"><u>Zotero</u></a>
                        </td>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
          <div class="pagination my-4 pe-4 float-end">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><button class="btn btn-primary btn-md"> <i class="fas fa-step-backward"></i> Prev </button></a>
                {% else %}
                <button class="btn btn-outline-primary btn-md" disabled> <i class="fas fa-step-backward"></i>  Prev</button>
                {% endif %}
                <span class="page-current">
                    &nbsp; Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. &nbsp; 
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><button class="btn btn-primary btn-md"> Next <i class="fas fa-step-forward"></i></button></a>
                    {% else %}
                    <button class="btn btn-outline-primary btn-md" disabled> Next <i class="fas fa-step-forward"></i></button>
                {% endif %}
            </span>
            </div>
            
          {% endif %}
    {% else %}
    <div class="row">
        <div class="col-md-12 mt-4">
            <h3> <i class="fa-solid fa-triangle-exclamation"></i> There are no Facts for this variable in the Database.</h3>
        </div>
    </div>
    {% endif %}
    </div>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
  {% endblock %}



