<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12 mb-2">
          {{ obj.long_name }}
        </div>
      </div>
    <div class="row">
      <div class="col-md-5 mb-2">
        {{ obj.title }}
      </div>
      <div class="col-md-2 mb-2">
        {{ obj.year }}
      </div>
      <div class="col-md-2 mb-2">
        {{ obj.creator }}
      </div>
      <div class="col-md-3 mb-2">
        {{ obj.zotero_link }}
      </div>
    </div>

            <!-- Here come the extra vars in the second row -->
    <div class="row">
        <div class="col-md-4 mb-2 py-2 d-grid mx-auto">
            <button type="submit" class="btn btn-outline-success my-auto btn-block btn-lg">Update Reference</button>
        </div>

    </div>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2({
                placeholder: "Select or serach",
                allowClear: true,
            });
        });
    </script>
</form>



