{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}


{% block content %}
<div class="container">
    <div class="h3 pt-4">
        <h2> Synchronizing with Zotero ...</h2>
    </div>
    {% if newly_adds %}
    <div class="table-responsive">
        <h6 class="text-success pt-3"><i class="fa-solid fa-list-check"></i> You successfully added the following refs from Zotero to your datbase.</h6>
        <a href="{% url 'references' %}" class="btn btn-outline-success"><i class="fa-solid fa-circle-arrow-left"></i> &nbsp; Back to References</a>
        <table id="table_id" class="pt-4 table align-middle table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-secondary">#</th>
                <th scope="col" style="text-align: left" class="fw-light"> Title</th>
                <th scope="col" style="text-align: center" class="fw-light"> Year</th>
                <th scope="col" style="text-align: center" class="fw-light"> Creator(s)</th>
                <th scope="col" style="text-align: center" class="fw-light"> Zotero link</th>
              </tr>
            </thead>
            <tbody>
                {% for obj in newly_adds %}
                <tr>
                    <div>
                        <td class="text-secondary" scope="row">{{ forloop.counter0|add:1 }}</td>
                        <td style="text-align: left;"><a href="https://www.zotero.org/groups/1051264/seshat_databank/items/{{ obj.zotero_link }}">{{ obj.title }}</a>
                        </td>
                        <td style="text-align: center;">{{ obj.year }}
                        </td>
                        <td style="text-align: center;"><a href="">{{ obj.mainCreator }}</a>
                        </td>
                        <td style="text-align: center;"><a href="https://www.zotero.org/groups/1051264/seshat_databank/items/{{ obj.key }}"><u>Zotero</u></a>
                        </td>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
          <div class="pagination my-4 pe-4 float-end">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><button class="btn btn-primary btn-md"> <i class="fas fa-step-backward"></i> Prev </button></a>
                {% else %}
                <button class="btn btn-outline-primary btn-md" disabled> <i class="fas fa-step-backward"></i>  Prev</button>
                {% endif %}
                <span class="page-current">
                    &nbsp; Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. &nbsp; 
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><button class="btn btn-primary btn-md"> Next <i class="fas fa-step-forward"></i></button></a>
                    {% else %}
                    <button class="btn btn-outline-primary btn-md" disabled> Next <i class="fas fa-step-forward"></i></button>
                {% endif %}
            </span>
            </div>
            
          {% endif %}
    {% else %}
    <div class="row">
        <div class="col-md-12 mt-4">
            <h5 class="text-success"><i class="fa-solid fa-square-check"></i> Your database is already up to date.</h5>
            <a href="{% url 'references' %}" class="btn btn-outline-success"><i class="fa-solid fa-circle-arrow-left"></i> &nbsp; Back to References</a>
        </div>
    </div>
    {% endif %}
    </div>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
  {% endblock %}



