{% extends "core/form_base_general.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block extra_vars %}
    
    <div class="col-md-3 mb-2">
        {{ form.polity_population_from|as_crispy_field }}
    </div>
                
    
<div class="col-md-3 mb-2">
{{ form.polity_population_to|as_crispy_field }}
</div>

<div class="col-md-12 mb-2">
    {{ form.description|as_crispy_field }}
</div>
          
{% endblock extra_vars %}

{% block delete_button %}
    <a href="{% url 'polity_population-delete' object.id %}" type="cancel" class="btn btn-outline-danger my-auto btn-block btn-lg">Delete </a>
{% endblock delete_button %}
        