{% extends "core/list_base_for_new_approach.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load custom_filters %}


{% block download_button %}
    <a href="{% url create_url %}" class="btn btn-outline-success mx-3 my-4 float-end"><i class="fas fa-plus"></i> &nbsp; Add More Facts</a>
    <a href="{% url download_url %}" class="btn btn-outline-primary mx-3 my-4 float-end"><i class="fas fa-download"></i> &nbsp; Download All</a>
{% endblock download_button %}

{% block metadownload_button %}
    <a href="{% url metadownload_url %}" class="btn btn-primary ms-auto py-2 my-2 float-end"><i class="fas fa-download"></i> &nbsp; Download MetaData</a>
{% endblock metadownload_button %}


{% block myheadings_list %}
<th class = "fw-bold" style="text-align: center; white-space: nowrap;" scope="col"><span> 
    <a href="{% url list_all_url %}{{ordering_tag}}">&nbsp;<i class="fa-solid fa-arrow-up-short-wide"></i>&nbsp; coded value</a>
</span>
</th>
{% endblock myheadings_list %}

{% block extra_vars_list %}
<td style="text-align: center;">
    <span class="pt-3 h5 fw-bold {% if obj.tag == 'DSP' %}
    text-danger
    {% elif obj.tag == 'SSP' %}
        text-darkorange
    {% elif obj.tag == 'UNK' %}
        text-secondary
    {% elif obj.tag == 'IFR' %}
        text-primary
    {% else %}
        text-success
    {% endif %} fw-normal">{{extra_var_dict|get_item_from_dic:obj.id}}</span>
</td>
{% endblock extra_vars_list %}


<!-- Update Button -->
{% block update_button %}
    <td style="text-align: center;">
        <small>
            <a href="{% url update_url obj.id %}">Edit</a>
        </small>
    </td>
{% endblock update_button %}