{% extends "core/seshat-base.html" %}
{% load humanize %}

{% block content %}
<style>
    .card {
        background-color: #fefae6;
        border-radius: 10px;
      }
      
      .card-title {
        margin-bottom: 10px;
        color: #555;
      }
      
      .card-subtitle {
        color: #888;
        margin-bottom: 10px;
      }

      .custom-left-border-shadowed {
        border-left: none; /* Adjust the border color and thickness as desired */
        box-shadow: 0 0 2px teal; 
        padding-right: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 5px;
        padding-left: 10px; /* Adjust the padding to create spacing between the border and content */
        text-align: justify;
    }
      
      .card-text {
        margin-bottom: 20px;
      }
      
      .card-link {
        display: inline-block;
        margin-right: 0px;
        margin-left: 0px;
        padding: 8px 8px;
        border: none;
        text-decoration: none;
        transition: background-color 0.3s;
      }
      .card-body {
        padding: 4px;
        display: flex;
        flex-direction: column;
        align-items: center !important;
      }

      .card-body h5 {
        text-align: center;
      }

      .flex-grow-1 {
        flex-grow: 1;
      }

      .number-circle {
        color: #fefae6;
      }

      .card-link:hover {
        background-color: teal;
        border-radius: 4px;
      }

      .light-narrow-hr {
        border: none;
        border-top: 1px solid #f0ecec;
        height: 0.25px;
        margin: 20px 0;
        width: 100%;
      }


      .card-text-spaced {
        font-size: 16px;
        color: #782823;
        display: flex;
        padding-top: 5px;
        justify-content: space-between;
        }
    
    .left-span {
            color: #782823;
        }
    
    .right-span {
            text-align: right;
            color: #782823;
        }
    
        .center-span {
            text-align: center;
            color: #782823;
        }


        .row {
          --bs-gutter-x: 0;
      }


</style>
<div class="container">
    <div class="row">
      <div class="row mt-3">
        <div class="col-md-12">
            <div class="row d-flex align-items-center mb-2">
                <div class="col-md-6 px-0">
                  <h1 class="py-3 ps-0"><span class="badge rounded-pill bg-teal text-dark">Religion Tolerance Variables</span> 
                  </h1>               
                 </div>
                  <div class="col-md-3">    
                    <a href='{% url "problematic_sc_data_table" %}' class="btn btn-outline-danger mx-1 my-2 float-end"> <i class="fa-solid fa-up-right-from-square fa-sm"></i>  &nbsp;Inconsistent Year Ranges</a>
                </div>
                <div class="col-md-3 px-0">    
                    <a href='{% url "download_csv_all_sc" %}' class="btn btn-outline-success mx-1 my-2 float-end"> <i class="fa-solid fa-file-csv"></i> &nbsp; Download <b>All</b> (.CSV) </a>
                </div>


            </div>

          </div>
        </div>

        <h5>
          <span class="h5 text-secondary">* We have coded a total of  
            <b class="h4 text-dark">
            {{number_of_all_rows|intcomma}}</b>
            different values for 
            <b class="h4 text-dark">
            {{number_of_variables}}</b>
            variables in 
            <b class="h4 text-dark">
            {{all_polities}}</b>
            polities.</span>
        </h5>
        <p class="mb-2" style="font-size:14px;">
            * The "Religion Tolerance" dataset encompasses a wide range of variables, each offering valuable insights into the dynamics of religious coexistence, government policies, and societal attitudes. This comprehensive collection of variables allows for a multifaceted analysis of religion tolerance, shedding light on the complexities of interactions between governments, societies, and religious communities. 
</p><p class="mt-0"  style="font-size:14px;">
* Key variables include measures of syncretism, the prevalence of official and elite religions, and the frequency of violence, both governmental and societal, against religious groups. Additionally, the dataset explores government restrictions on religious practices, property ownership, and the circulation of religious literature. It delves into taxation based on religious adherence, governmental obligations for official recognition, and limitations on constructing religious buildings. The coding captures not only the presence or absence of certain conditions but also the actual religions associated with official status and elite favor. Furthermore, the prevalence of widespread religions, including the most widespread and up to the fourth most widespread, provides a nuanced understanding of religious landscapes.


        </p>
        {% for sect, subsect in all_vars_grouped.items %}
        <div class="row">
          <div class="col-md-12">
              <div class="row d-flex align-items-center mb-2 mt-4">
                  <div class="col-md-6 px-0 ">
                    <h3 class="py-1 ps-0"><span class="badge rounded-pill bg-info text-dark">
                      {{sect}}
                    </span> 
                  </h3> 
                </div>
                  <div class="col-md-6 px-0">   

                    {% for kkk, vvv in all_sect_download_links.items %}
                    {% if kkk == sect %}
            
                    <span><a href="{% url vvv %}" class="btn btn-outline-secondary mx-1 float-end"> <i class="fa-solid fa-file-csv"></i> &nbsp; Download <b>{{sect}}</b> (.CSV) </a> </span>
                    {% endif%}
            
                    {% endfor %}
                  </div>

              </div>
  
            </div>

          </div>

               
      {% for ss, vv in subsect.items %}
      {% if ss != "None" %}
      <h5 class="pt-1 pb-1 ps-0 mt-1"><span class="badge rounded-pill bg-warning text-dark">
        {{ss}} 
      </span> 


      
    </h5> 
      {% endif%}
        {% for v in vv %}
                <div class="card col-md-12">
                    <div class="align-items-left card-text-spaced">
                      <span class="fs-5 left-span fw-bold ps-2">
                        <span class="text-secondary fs-6"> <span style="color:rgba(128, 128, 128, 0.573)">#</span> {{ v.6|intcomma }}</span> 
                            <a href="{% url v.5 %}" class="card-link" type="button" data-bs-toggle="tooltip" data-bs-html="true"  title="View All">{{v.0}} </a> 

                         
                                                      
                      </span>

                      <span class="right-span fs-5">
                          <span><a href="{% url v.3 %}" class="card-link" type="button" data-bs-toggle="tooltip" data-bs-html="true"  title="Download All"> <i class="fa-solid fa-file-arrow-down"></i></a></span>
                          <span><a href="{% url v.2 %}" class="card-link" type="button" data-bs-toggle="tooltip" data-bs-html="true"  title="Add New Values"><i class="fa fa-plus"></i></a></span>
                          <span><a href="{% url v.5 %}" class="card-link" type="button" data-bs-toggle="tooltip" data-bs-html="true"  title="View All"> <i class="fa fa-eye"></i></a></span>
                        </span>
              
                    </div>
                  </div>
          {% endfor %}

    {% endfor %}

{% endfor %}
</div>
<hr>

</div>
{% endblock %}
